[2018-12-18 23:35] arnavs commented on #293
@jlperla Does a syzygy or JupyterHub based setup from QuantEcon not work anymore?

[2018-12-18 23:42] jlperla commented on #293
The question is for general users, not for a bunch of specific students that can be handheld.

If there are a small number of things to ask Julia Computing for so that juliabox works with the lectures, then it would be useful to have an option.  But I don't want to suggest people use it unless it is a predictable setup and usage process.

[2018-12-19 05:53] jlperla opened #498 "Some final changes to finish for the new getting_started"
- [ ] Need to have a literal dependency for the desktop installation process, instead of having things hardcoded
- [ ] I removed the installation of the packages on the JupyterHub installation.
- [ ] I think that `activate_github("QuantEcon/QuantEconLectureAllPackages", tag = TAGNOTHARDCODED", add_default_environment = true)` is better than just the `QuantEconLecturePackages`. Better experience to

[2018-12-19 17:55] jlperla opened #499 "List of requirements to work on JuliaBox"
See #293

[Edit: AS] OK, here are the results. All from a fresh JuliaBox account

#### Essential Upgrades and Installs

These are things that users can't fix in an install script (e.g., things missing from registry, permissions over install, etc.)

* `InstantiateFromURL.jl` needs the `v0.2.0` release in the registry. (but this is mainly for error handling; users won't be using this anyway).

* `Di

[2018-12-19 17:57] Nosferican commented on #499
Will we need Compat after `v"1.1"`?

[2018-12-19 18:02] jlperla commented on #499
Nope.  I don't think there is anything we would need to rely on at that point.... but I am not holding my breath for the release.

For now, the issue is that when I go `using Compat` on JuliaBox it doesn't seem to use the latest compat... and if I go `] up Compat` it also didn't seem to work.  I think this was the only problem which we do not have any workarounds for.  If you figure it out, though

[2018-12-19 18:09] Nosferican commented on #499
It is recommended to at least for packages and applications to use the lowest version that has the capability one needs, not to use the latest for Compat. Jeff is in charge of the 1.1 release and should be  out this year.

[2018-12-19 18:15] arnavs commented on #499
@Nosferican The issue is that the compat on JuliaBox doesn't have the `range(start, stop, length = n)` stuff that we wrote. So lectures will fail unless it's bumped.

[2018-12-19 18:15] Nosferican opened #500 "Fix the spaces and newlines to make diff more legible"
Use Atom with the whitespace extension (by default) and submit a PR of just fixing extra spacing and such so that future work is clearer to identify without the extra diff.

[2018-12-19 18:17] Nosferican commented on #499
Should be fine in a couple weeks when Julia 1.1 comes out... I doubt we can get JuliaComputing to make a release before then and have everyone update. Could try in the Slack channel for feedback, but at least for next semester should be fine and we can drop Compat to keep things more robust.

[2018-12-19 18:30] jlperla commented on #499
That is fine, but is there no way for us to pick our own version of Compat in the meantime?  This is the issue.  Is there any workaround on something like JuliaBox.

As I said, I will believe it when I see it.  Since there hasn't been any beta period with binaries, I really hope they don't rush a release.

Even after Julia 1.1. comes out, I also am not sure how long before it is supported on Julia

[2018-12-19 18:56] arnavs opened #501 "Docker content"
Since we're taking the Docker out of `getting_started` we should also take this stuff out of `tools_editors`. Caching it here so it doesn't get lost.

[code]

[2018-12-19 18:56] #501 closed

[2018-12-19 19:38] jlperla commented on #501
Don't do this. The docker is great, just too confusing for windows users to be in the intro setup

[2018-12-19 19:43] arnavs commented on #501
Roger, I put it back.

[2018-12-19 19:53] arnavs commented on #498
@jlperla Let me know when you want to take a look at this (the commit above isn't all of it, so should check the PR).

Also had some issues with `jupyter lab`. But `jupyter notebook` worked fine as you said. Not sure what's going on, since the image files haven't changed and neither has the code to include them.

[2018-12-19 23:34] jlperla opened #502 "See if :scale: => :width: breaks HTML; if so, tweak build"
@arnavs  From #498 we saw issues with the new introductory lectures.  Download the live QE lectures to see if these are an issue, etc.

If so, track and submit to the sphinxjupyter repo

[2018-12-20 17:53] arnavs commented on #502
Downloaded notebooks look fine on my mac but fails on Ubuntu. Will try to pin down the issue.

[2018-12-20 18:03] arnavs commented on #502
@mmcky It looks like we can resolve this by removing the `style = <"width:100%;height:100%">` directive, which Ubuntu (and maybe Windows?) are taking too seriously.

[2018-12-20 18:30] jlperla opened #503 "Add notebook cloning into setup lecture"
cc @mmcky
We now have the notebooks to https://github.com/QuantEcon/lecture-jl-notebooks we can add cloning the github repository to the setup.

We can add to the current intro-reorg branch.  I put in a few `TODOGITHUB` there with the places that we should add this, but to summarize:
- [x] The desktop installation should be very clear and explicit, whereas the jupyterhub one can be barebones for n

[2018-12-20 20:01] arnavs commented on #503
Closing this as edits would be made on the commits/PR.

[2018-12-20 20:01] #503 closed

[2018-12-20 22:28] arnavs opened #504 "Get rid of structs"
As of #320

### Structs and Mutable Structs

Mutable Structs:

- [ ] `amss` (#159)
- [x] `odu` (agent-based model)
- [ ] `opt_tax_recur`
- [x] `uncertainty_traps`
- [x] `lake_model` (almost done)

Structs:

- [x] `lu_tricks` (#559)
- [ ] `amss` (#159)
- [x] `hist_dep_policies`
- [x] `jv`
- [x] `lqramsey` (used for dispatch)
- [x] `odu`
- [ ] `opt_tax_recur`
- [x] `lake_model` (above)

[2018-12-20 23:54] arnavs opened #505 "Add nbutils and document workflow"
- [ ] Consider adding the `nbutils.ipynb` type thing (i.e., the thing in https://github.com/ubcecon/econ407_2019, which lets you run cells to do git operations like updating notebooks, undoing local changes, nuking all user created files and changes, etc.)

- [ ] Confirm with Matt about the executable cell (i.e., can run it with shift-enter) that isn't executed by the build server (for git magic).

[2018-12-22 22:42] jlperla commented on #499
@arnavs You say that a "Compat.jl" bump  is a nice to have.  But doesn't the lack of it break anything that is using `range` right now?  Did you find some workaround that you didn't mention, or did you manually modify the `range` when you were testing the notebooks?

[2018-12-24 07:32] arnavs opened #507 "Julia Setup on Windows"
See http://discourse.quantecon.org/t/problem-with-setting-up-julia-enviaroment/473.

Need to pin down exactly what "run as admin" entails, and then modify the instructions and/or the codebase.

[2019-01-02 06:30] jlperla opened #509 "Investigate doing a forced push of git with notebooks"
@mmcky @sglyon @cc7768

I am putting this issue here, but it equally applied to the datascience course once that notebook repo is setup.

The issue we have is that ipynb have terrible diffs, especially with embedded images.  So if we do a commit everytime we push the notebooks to the repo, it will quickly end up massive (and anyone cloning it gets the entire history).  What we really want is just

[2019-01-02 18:10] jlperla commented on #499
Split into:
- What we have no workaround for
- What we need to change to get the QELP ones working, with a workaround
- What we need to change to get the QEALP ones working, with a workaround (wait on this).

[2019-01-02 19:06] #293 closed

[2019-01-02 19:06] #499 closed

[2019-01-02 19:28] arnavs opened #510 "JuliaBox Requirements"
cc @jlperla

They've overhauled the Julia setup over the break (i.e., now it's Julia 1.0.3), so _a priori_ none of the old information is valid.

## Things we need but can't fix

* `InstantiateFromURL` - can't install any version after `v0.1.0` (i.e., no error handling that prevents a crash/tells people to add stuff manually).
* I can't get `RDatasets` to work, even though it looks like it install

[2019-01-02 23:14] arnavs commented on #270
Yeah, we can close this. And the `deps.jl` and `alldeps.jl` have bene removed.

[2019-01-02 23:14] #270 closed

[2019-01-02 23:17] arnavs commented on #401
@XiaojunGuan This might be a good one to chip away at.

As a first step, could you look at the v0.6 data in the pastebin, and the v1.0 data at lectures.quantecon.org/status.html, and identify which lectures have slowed down?

[2019-01-02 23:52] arnavs commented on #509
First thing is that this will be difficult for GitHub desktop users, because GitHub will not delete local history with a `git pull` (you need a `git reset --hard origin/master` or something like that).

So it'll try to give us something like the following, with a merge commit:

[code]

[2019-01-03 00:07] jlperla commented on #509
When you say it won't delete the local history, does that mean things get out of whack, or that there is just garbage lying around in the directory?

Is a hard reset possible in the github desktop?

[2019-01-03 00:10] arnavs commented on #509
No reset in the GUI yet, it's an open issue from 2 years ago- https://github.com/isaacs/github/issues/659.

Nothing went out of whack in one round (i.e., it was just a few extra junk commits), but I'll verify what happens if the process is repeated.

[2019-01-03 00:53] jlperla commented on #509
Give us a report after seeing if things get out of whack, or the notebooks are incorrect with a git pull. We can then see how the workflow is

[2019-01-03 18:30] arnavs commented on #509
Thanks all for the suggestions. Here's what I found-

1. To overwrite the history, we can just stage our files and run a `git commit --amend`, followed by a force push. This solves the problem of maintaining a mountain of diffs.

2. The most robust approach is the `nbutils.ipynb`. It will update all our files, eliminate junk commits, etc. The granular updates also work (i.e., we can just do it for

[2019-01-03 18:47] arnavs commented on #509
Note that we'll need to tweak the nbutils a bit (and it would be easier if it wasn't tracked in git, so maybe they'll run a `git rm --cached nbutils.ipynb` cell as part of setup?). So we can iterate on and test that.

[2019-01-03 20:35] arnavs commented on #488
I added a step to clone the notebooks repo  to the https://github.com/arnavs/jupinx-test, which works great (just fire up the image and then click on the `lecture-jl-notebooks` directory). And it's in a data volume, so changes I make to the notebooks persist from one run to the next.

Will leave this issue open until confirmed with @jlperla, at which point I'll edit the instructions etc.

[2019-01-03 23:22] XiaojunGuan commented on #401
Here is a list of lectures that are being affected:

- [ ] dyn_stack
- [ ] egm_policy_iter
- [ ] mccall_model
- [ ] need_for_speed
- [ ] smoothing

[2019-01-03 23:32] jlperla commented on #401
We need to be careful about precompiling time. The test should only compare running the notebooks the second time (in both circumstances)

[2019-01-03 23:32] arnavs commented on #401
Thanks @XiaojunGuan.

[2019-01-03 23:32] arnavs commented on #401
And that's a good point @jlperla --- I'll confirm with Matt.

[2019-01-03 23:36] arnavs opened #513 "Precompiling Time in Julia Benchmarks"
The lecture execution benchmarks would be more meaningful if they were the result of second runs or averages of multiple runs or something like that (i.e., neglecting setup costs).

- [x] Confirm with Matt to see if this already happens or not. (edit: it doesn't).
- [ ] See if we can get this to happen for `v1.0` if it doesn't (run the script once, throw away the results, and run again?)
- [ ] See

[2019-01-03 23:41] jlperla commented on #513
I think this would be lower priority until we can get a container based build approach solid. There are a lot of other features more essential to automate

[2019-01-03 23:43] jlperla commented on #401
No, I mean when manually running it... It is already too slow to run twice until we can parallelize the build

[2019-01-04 00:32] arnavs opened #514 "Git LFS + Jupyter"
See if this is a better way to version the notebook repositories.

https://github.com/QuantEcon/lecture-source-jl/issues/509#issuecomment-451320826

[2019-01-04 00:38] jlperla commented on #514
To upload and update via LFS requires the commandline. Create a simple repo and check if it works well.

Cloning should be seamless, hopefully, where the user is ignorant of the distinction?

The things to check are that cloning works on:
- [ ] github desktop... By default or whether something additional is required for installation
- [ ] syzygy nbgitpuller.
- [ ] a git installation other than git

[2019-01-04 05:21] jlperla commented on #514
Note that with https://github.com/isaacs/github/issues/712 there is no ability to download a zip with the files.  I don't think this is a major issue, but something to consider as a small tradeoff.

[2019-01-04 07:04] jlperla commented on #509
Closing since generating extra copies of force rewritten files with nbgitpuller is a non-starter for that workflow.

[2019-01-04 07:04] #509 closed

[2019-01-04 21:51] arnavs commented on #236
@PooyaFa do you think this issue is good to close now?

[2019-01-04 21:52] PooyaFa commented on #236
Hi. If it is possible, please let me to be sure by the end of weekend. Thanks

[2019-01-04 21:53] arnavs commented on #236
Take your time, there's no rush.

[2019-01-04 22:05] arnavs commented on #190
@XiaojunGuan If you have time, want to take a crack at this?

You can check the Plots docs for these two options, but basically the transparency thing does what it says, whereas the stephist vs. normal hist difference can be seen [here](https://nbviewer.jupyter.org/gist/oschulz/f0beee3546df6a6758c46eec6a89ba50).

Only thing is I'm not sure exactly which plotting examples @jlperla had in mind... sh

[2019-01-04 22:10] jlperla commented on #190
Maybe not this one. I need to think about it.

[2019-01-04 22:32] arnavs commented on #510
Closing as we're done testing this for the time being. Can re-open if we start again.

[2019-01-04 22:33] arnavs commented on #507
Closing as we concluded this was a quirk in the user's Jupyter setup. If anybody reports a similar issue, we can add a note about this to the instructions.

[2019-01-04 22:33] #507 closed

[2019-01-04 23:01] jlperla commented on #510
I want to reopen until this is either dealt with or ignored. We can assign to me

[2019-01-04 23:59] arnavs commented on #236
There's still a `bellman_operator` in `discrete_dp`. Will leave it for now, you can come back to it in the next pass.

[2019-01-05 00:12] PooyaFa commented on #236
I know. That’s from a package I think.

On Fri, Jan 4, 2019 at 3:59 PM Arnav Sood <notifications@github.com> wrote:

--
Pooya R. Ravari
PhD student in Economics at UBC
https://sites.google.com/view/pooyarravari

[2019-01-05 00:12] PooyaFa commented on #236
Because I did change it to T, but it didn’t pass the tests.

On Fri, Jan 4, 2019 at 4:12 PM Pooya Rashidi Ravari <pooyaravari@gmail.com>
wrote:

--
Pooya R. Ravari
PhD student in Economics at UBC
https://sites.google.com/view/pooyarravari

[2019-01-05 00:14] arnavs commented on #236
Sounds good, I think the `QuantEcon.jl` library still uses these sorts of names, so that makes sense.

[2019-01-05 05:17] jlperla commented on #236
You mean that the library function is called `bellman_operator`?  If so, that is fine, as it is the variable names I want to connect to the algebra names that is the key.  Having higher order functions which generate variables/functions/values is less important, as there may not be a compelling connection to the algebra.

[2019-01-05 05:51] arnavs commented on #236
Yep, exactly @jlperla. And sounds good

[2019-01-05 16:42] jlperla commented on #514
@arnavs  Can you
- [ ] Collect the right link for setup instructions here for people to try if they are not using GitHub Desktop
  * My preference would be that there is a link to the best installation documentation (which may just be the main LFS link)
  * For Ubuntu/decian, I think we should consider putting in the actual code to run.  Instead of the step being to download, we should use `curl`

[2019-01-05 18:22] arnavs commented on #514
Hey @jlperla, here it is:

1. We get the same popup on OSX, yeah.

2. For install, I think the [Wiki page](https://github.com/git-lfs/git-lfs/wiki/Installation) we were looking at is best for Linux users (i.e., it'll give you the shell scripts). For OSX/Windows users without GitHub Desktop, the [main website](https://git-lfs.github.com) with the binaries is probably the best approach.

[2019-01-05 18:37] arnavs commented on #514
Hey @yolsever, can you give the Linux instructions above a go on your WSL setup? That is-

1. `curl -s https://packagecloud.io/install/repositories/github/git-lfs/script.deb.sh | sudo bash`
2. `sudo apt-get install git-lfs`
3. `git lfs install`

AFAIK, the WSL setup uses Ubuntu 18 (?), so you can ignore the bit about adding the new repository for Ubuntu 12. (But, if I'm wrong, then you need to do

[2019-01-05 18:42] arnavs commented on #514
Also, beyond the setup, just make sure that you can run `git clone https://github.com/arnavs/git-lfs-test` and open it up in Jupyter and see a bunch of notebooks (as opposed to a bunch of short pointer files to notebooks).

[2019-01-05 18:57] arnavs commented on #236
@PooyaFa, see https://github.com/QuantEcon/lecture-source-jl/pull/515#discussion_r245467179.

tl;dr part of this issue involves moving away from names like `A_hat` and `A_bar` to the actual glyphs (note: this **only** works when you're modifying a normal letter; we can't use it for Greek symbols, etc.)

I'm going to assign myself too, and we can work together on it. But feel free to do these as yo

[2019-01-06 23:59] arnavs commented on #514
@yolsever is finding a connection refused from `curl`.

I think this is an open WSL issue: https://github.com/Microsoft/WSL/issues/2690

Will make a note of this in the instructions, thanks Kaan for testing

[2019-01-07 00:07] jlperla commented on #514
Sounds good. WSL isn't a big target, just convenient for testing. So if it doesn't work, then so be it

[2019-01-07 00:44] arnavs commented on #489
@ajozefiak will be working on this.

Just to rehash our covnersation, the game plan is to first get figure out how to programmatically test a notebook (maybe borrowing from the `./run-notebook.sh` script I showed you) in Docker, at which point we could plug this into Travis.

The docker framework we're using is at https://github.com/arnavs/jupinx-docker. Still WIP, but it works for this (i.e., bui

[2019-01-07 01:00] arnavs opened #518 "populate preview-lectures with docker and compare"
cc @jlperla @mmcky

- [ ] Populate the preview-lectures using the GitHub.com/arnavs/jupinx-docker (means we need to hash out the environment variables `awscli` or whatever).

- [ ] Have somebody step through and make sure that things are identical.

[2019-01-07 21:38] #487 closed

[2019-01-07 23:09] #439 closed

[2019-01-07 23:09] #448 closed

[2019-01-07 23:13] arnavs commented on #141
@yolsever If you have some free time, this would be a good cleanup task to tackle.

Since we're having some trouble with the images displaying in the Jupyter Lab interface, this is probably best done by looking at the website: lectures.quantecon.org/jl

Essentially, go through each lecture and flag whenever we have an image that's redundant (i.e., we have a plot, and then underneath it we have a s

[2019-01-08 21:23] arnavs opened #521 "Verify github instructions still work after rebranding"
GitHub has rebranded some of their product tiers etc. See: https://blog.github.com/2019-01-07-new-year-new-github/

We need to make sure that the instructions for setting up a github with the developer pack or whatever still work.

Basically, follow the steps with a new email/account. If things have changed names or something, write back here.

[2019-01-08 21:40] arnavs commented on #521
I don't think anything has changed w.r.t. Travis, so this will still be necessary.

[2019-01-10 05:01] jlperla opened #522 "Setup Automatic Pushing for LFS"
Based on slack discussions, @jstac  and others agreed that `quantecon-notebooks-jl` might be a better name when the repo is cloned.

To do the transition for the julia notes, I think we should
- [x] Setup the repository for LFS for all `ipynb` files
- [x] Populate the https://github.com/QuantEcon/quantecon-notebooks-jl repository with the existing julia notebooks in it.  Note: I think we will want

[2019-01-10 05:02] jlperla opened #523 "Move RST files to subdirectories to make cloned jupyter notebooks easier to use"
Look at the datascience, for example.

The big thing this will change is the `:doc:` will all be out of wack.

[2019-01-10 05:02] jlperla commented on #514
After #522 I think you should close this.

[2019-01-10 19:16] arnavs commented on #522
Done. From a user perspective, we're transitioned to LFS!

I'm going to leave this issue open because I'm not sure what the deal is with automatic pushing. But I'll confirm with Matt.

[2019-01-10 19:41] #514 closed

[2019-01-11 08:40] PooyaFa commented on #236
@arnavs I must say there are some parts of the lectures, which I think are related to this issue, but I am not sure if I should act on them. For instance, for lecture note linear_algebra (https://github.com/QuantEcon/lecture-source-jl/blob/master/rst_files/linear_algebra.rst  or   https://lectures.quantecon.org/jl/linear_algebra.html#):

1.  First example for scalar multiplication is not scalar mu

[2019-01-11 17:41] arnavs commented on #236
Hey @PooyaFa, see my responses below.

In general, I'd appreciate if we focused on proceeding with uncontroversial changes that fall squarely within the scope of the issue. The point of this issue is to practice editing code, and also to revise and simplify the lecture notation.

1. I think you need to be a little more careful; when you say that we're multiplying two vectors (of length 3), dependi

[2019-01-11 18:16] jlperla commented on #523
The basic directory structure should exactly match the sections of the TOC in https://github.com/jlperla/ECON307_2019

So I would have the following subfolder names would match the `_index.rst` names.
- `getting_started_julia`
- `more_julia`
- `tools_and_techniques`
- `dynamic_programming`
- `multi_agent_models`
- `time_series_models`
- `dynamic_programming_squared`

What to do for this:
- [ ] Cre

[2019-01-11 18:18] jlperla opened #524 "Ensure build infrastructure is compatible with reorganized rst files"
We need to adapt the build infrastructure to ensure that #523 doesn't break anything.  The things I can think of are:
- [ ] The download notebook link at the top of every file would need to point at the right location
- [ ] The links to the indices in any breadcrumbs could break
- [ ] The automatic push to the notebook repo would want to maintain the file structure for all `ipynb` files

But I ima

[2019-01-11 18:46] arnavs opened #525 "Equality in Tests"
Basically, we need to make sure that whenever we're comparing a value to a float, we're using approximation (maybe with some tolerance, or a truncated value) and not strict equality. That is:

[code]

This will also need to be built in a separate PR and evaluated cross-platform (another plus for containerization...)

And add it to the style guide, too, for good measure.

[2019-01-11 19:31] arnavs opened #526 "uncertainty traps"
Could eliminate the two auxiliary functions (down from 4) and get rid of the broadcasting.

[2019-01-11 19:31] #279 closed

[2019-01-11 19:38] arnavs commented on #510
@jlperla Given what we talked about earlier (i.e., the phaseout of free JuliaBox), can this be closed now?

[2019-01-11 19:40] arnavs commented on #236
Closing this issue per @PooyaFa in #520.

[2019-01-11 19:40] #236 closed

[2019-01-15 20:25] arnavs commented on #490
@ajozefiak Judging from what you said, we're able to run a particular notebook in Docker and get its success/failure information?

If so, then I think we can start testing with CI. The workflow (for a new PR or such) is:

1. Run `make jupyter-tests`. This doesn't take too long, so it can happen for every file .
2. Execute (without `--allow-errors`) **only** those files that were modified in the PR

[2019-01-15 20:32] arnavs commented on #521
Thanks @XiaojunGuan for looking into this.

[2019-01-15 20:32] #521 closed

[2019-01-15 20:38] #489 closed

[2019-01-17 00:10] arnavs opened #527 "Pin down diffs b/t docker and standard setup"
We have a [Python script](https://gist.github.com/arnavs/0c56877c5701da86daf82f20ea873204) from @mmcky which diffs the `_build_jupyter` folder (output from the Docker) with a known copy (which we have).

We need someone to carefully step through these, see what the discrepancies are, and list them so they can be fixed in the Docker image.

To get someone set up:

- [ ] Make sure they have Python,

[2019-01-17 00:13] arnavs commented on #527
Then, once this is done, we can diff the output between `1.7.9` and `1.8` on the Sphinx.

[2019-01-17 00:54] arnavs commented on #527
@PooyaFa This could be a good one for you to work on, now that you're done with the math notation and the Dockerized JupyterHub.

Let's talk about it tomorrow if you have time.

[2019-01-17 01:01] arnavs opened #528 "Test the Lectures Against Julia 1.1"
Per semver this is supposed to be backwards-compatible, so the transition shouldn't be too bad.

Things that will need doing:

- [ ] Run the lectures again using the 1.1 IJulia kernel and make sure regression tests pass.  (#531)
- [ ] Take the time to remove unnecessary `Compat` includes
- [ ] Make some edits for clarity, such as the `eachcol/eachrow` functions in 1.1
- [ ] Take the time to look a

[2019-01-17 01:03] jlperla commented on #528
Sounds great.

[2019-01-17 23:30] mmcky commented on #523
hey @jlperla I will look at this early next week to see easy this will be. This will be no problem from `sphinx` perspective -- it will be the supporting infrastructure for running notebooks that may need to change. Currently it expects a collection of `ipynb` notebooks as a flat structure using ``glob`` so that would need to be updated to include sub-directories (or a crawl of the directories).

[2019-01-17 23:32] jlperla commented on #523
For what it is worth, this is the structure of the datascience lectures

[2019-01-17 23:34] mmcky commented on #523
yeah - I just modified the `glob` to include a single layer of subdirectories for quantecon.build.datascience

[2019-01-19 01:08] arnavs commented on #525
Closing thanks to @XiaojunGuan's hard and careful work.

[2019-01-19 01:08] #525 closed

[2019-01-21 05:54] mmcky commented on #523
hey @arnavs would you have time to setup a branch and add the relevant lectures to a subdirectory? Then I can set about looking at the execution script to adjust it for the new directory structure.

[2019-01-24 22:18] arnavs opened #531 "Regression Test the Lectures Against Julia 1.1"
Vanilla error check.

1. Run `make jupyter-tests`.
2. You can execute the notebooks with the `run-all-notebooks.sh` script in the repo.
3. This will take a few hours. Just leave it running.

Later, come back and look in the `notebooks/` directory, and scan through each lecture to make sure that (a) there's no ugly red warning from a failed regression test, and (b) the output looks reasonable (for

[2019-01-24 22:19] arnavs commented on #531
Assigning this to @yolsever since I think you're out of tasks? But just let me know if you don't have the bandwidth. This isn't a time-sensitive issue; just something that needs to eventually get done.

[2019-01-24 22:49] arnavs commented on #523
@mmcky Ready for you, in the `directory-refactor` branch.

[2019-01-25 00:01] #518 closed

[2019-01-25 00:09] #488 closed

[2019-01-25 02:18] mmcky commented on #523
thanks @arnavs. I wonder where the `jl` went. It is correct in the `conf.py` with option: `jupyter_target_html_urlpath = "https://lectures.quantecon.org/jl/"`

[2019-01-25 02:19] mmcky commented on #523
I can only take a quick look at this sometime this afternoon -- but I'll likely get some time in the week 4th Feb to fix this.

[2019-01-25 02:48] mmcky commented on #523
@arnavs when compiling with the `html` target I am getting

[code]

[2019-01-25 02:59] mmcky commented on #523
@arnavs I have submitted a fix for this on the extension.

https://github.com/QuantEcon/sphinxcontrib-jupyter/pull/172

I did this very quickly. Once you have verified the `docker` build with the `build` server output -- would you mind comparing the branch of the sphinxextension above to see if this resolves the issues with paths (and more importantly doesn't introduce errors)

[2019-01-25 03:00] mmcky commented on #523
Just a final comment on the above -- you can use the `diff` script to check the pre-executed stats of the generated notebooks. That is what I would recommend doing.

[2019-01-25 21:46] arnavs opened #532 "Test Packages in Julia 1.1"
What we need to do is test the two environments we're using in `Julia 1.1`

I think one way to do this is, after activating each environment and `using Pkg`, run the following code (I've confirmed that it grabs only the packages in the active environment).

[code]

And make sure it ends properly/none of the packages break.

[2019-01-25 21:52] arnavs commented on #532
@XiaojunGuan This would be a good one to tackle over the weekend.

You'll have to download Julia 1.1, and run this stuff in there. So:

[code]

And the same thing for `QuantEconLectureAllPackages` instead of `QuantEconLecturePackages`.

This is something you can run while getting coffee, we just need to make sure it passes a sanity check (i.e., no package crashes/burns/stops the loop).

[2019-01-25 22:03] arnavs opened #533 "Evaluate Package Lists"
@jlperla I think this would be a good time to check if there are any packages you want to add/rm or shift between the `QELP` and `QELAP`.

Here is the list for QELP:

[code]

And here is the list for QELAP:

[code]

[2019-01-25 22:45] arnavs commented on #533
Sure, no rush.

[2019-01-27 19:35] XiaojunGuan commented on #532
Updating registry at `~/.julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
   Cloning git-repo `https://github.com/JuliaPlots/PlotUtils.jl.git`
  Updating git-repo `https://github.com/JuliaPlots/PlotUtils.jl.git`
   Cloning git-repo `https://github.com/JuliaPlots/RecipesBase.jl.git`
  Updating git-repo `https://github.com/JuliaPlots/RecipesBase.jl.git`

[2019-01-27 21:02] arnavs commented on #532
Perfect, thanks @XiaojunGuan:

[2019-01-27 21:02] #532 closed

[2019-01-28 18:53] arnavs commented on #531
@yolsever Just wanted to up the priority on this a bit. Apparently Julia 1.1 is much faster than Julia 1.0, so it would be good to get the regression testing data sooner than later.

Note that you'll need to:

(a) Download Julia 1.1
(b) From Julia 1.1, `] add IJulia`.
(c) Change [this bit](https://github.com/QuantEcon/lecture-source-jl/blob/master/rst_files/conf.py#L396) of code to whatever the de

[2019-01-28 19:04] jlperla commented on #502
@arnavs Do a final sanity check.

[2019-01-28 21:20] arnavs commented on #502
Still seeing issues on my machine (Ubuntu box) with the latest downloads of `getting_started` and `julia_environment`. Tried `conda update jupyter` and nothing changed.

[2019-01-29 17:38] arnavs commented on #523
- [ ] Verify this resolves path issue.
- [ ] Once @PooyaFa is done with #527, can run testing against this branch of `sphinxcontrib-jupyter`.

[2019-01-29 18:25] arnavs commented on #527
Started working on this. A lot of the diffs seem to be coming from `$` in the build server output (correct) vs `\$` in the Docker (incorrect).

Maybe this has been fixed since we last built the Docker image (i.e., it's in a more recent Jupinx?). Will run again.

cc @jlperla since I think you had the same issue.

[2019-01-29 18:35] jlperla opened #534 "Move the StatsPlots and see about issues with distributions."
https://github.com/JuliaPlots/StatsPlots.jl/issues/195

- [x] Try to see if this is still an issue after a package bump.
- [x] If not, then in the process of moving to `using StatsPlots` also put `using Plots` in the usual places in the documents.

[2019-01-29 18:38] Nosferican commented on #534
If `using StatsPlots`, `using Plots` is not required.

[2019-01-29 18:46] arnavs commented on #534
@Nosferican Are you sure? From the linked issue:

[code]

[2019-01-29 18:49] Nosferican commented on #534
https://discourse.julialang.org/t/statplots-changes-name-to-statsplots-and-plotrecipes-to-graphrecipes/20175/10?
That is how most packages work with dependencies (e.g., JuliaStats ecosystem).

[2019-01-29 18:50] jlperla commented on #534
@arnavs  What he is saying is that using `Plots.jl` is not required.  But it is preferable in many cases for exposition, and for interactive use (i.e. you don't know if you will need statsplots until well after you have been using Plots).

We should check to see if it still an issue.  If not, then we can go back to the more common pattern we have with our includes, where we go `using Plots` at the

[2019-01-29 18:56] arnavs commented on #534
Roger that.

[2019-01-29 20:03] jlperla commented on #502
@arnavs Can you get people to track this down to see if it happens on OSX/Firefox/Windows/etc.?  I used to see it in Chrome, so I don't think it is a firefox only issue.

[2019-01-29 20:11] arnavs commented on #502
Will do. I will give the data to @AakashGfude, who said he could take a look.

[2019-01-29 21:37] mkborregaard commented on #534
Yes, I think `using Plots` at the beginning, then `using StatsPlots` when you need it is a completely functional pattern. As an alternative, one might consider `using StatsPlots` at the beginning and dispensing with `using Plots` altogether, given that many things I'd think quantitative economists expect to be able to do with a plotting package (plotting of data in tables, distributions, densities

[2019-01-29 21:45] arnavs commented on #534
Working on this in #535

[2019-01-30 19:27] arnavs opened #536 "3ndp.pdf"
Have been getting a `sphinx` error saying this is not readable. Need to figure out what this is, where it's linked, if something became corrupted etc.

[2019-01-30 19:39] arnavs commented on #536
@ajozefiak Could you briefly look at this?

You'll see the error if you try building the latest copy of the lecture from source (`make jupyter` or `make jupyter-tests`).

[2019-02-06 02:33] jstac opened #538 "Add "About julia" lecture?"
On the Python side we have this lecture that motivates use of Python:

https://lectures.quantecon.org/py/about_py.html

It's about why rather than how.  Perhaps the Julia side could benefit from such a lecture.  I might not be the best person to do this, although I'm willing to have a go in a month or two if no one else has.

[2019-02-06 02:49] arnavs commented on #538
You mean posting the benchmarking table isn’t enough? :)

But I think this is a good idea. I’ll take a crack at it soon, maybe. Things to talk about are “code that looks like math,” “easy access to mathematicians and hackers,” and maybe “accessibility to MATLAB emigres.”

[2019-02-12 22:40] arnavs commented on #534
Issue is resolved with #535.

[2019-02-12 22:40] #534 closed

[2019-02-14 04:46] jlperla commented on #502
I  wanted to check in on this problem.  It is still a major issue!

[2019-02-14 04:49] arnavs commented on #502
Hey @jlperla, thanks for bumping this.

Aakash found that it's browse or monitor-dependent (i.e., he can't reproduce on his end). He says:

An interim approach (which seemed to work) is to set `width` to 100%, and `height` to `auto`. I'll prep some files for this tonight and we can see if it passes tomorrow.

[2019-02-14 04:50] jlperla commented on #502
Sounds good.  I can test on my computers, as I have never "not" reproduced it.

[2019-02-15 20:21] arnavs commented on #502
Yeah, this approach works for `JupyterLab`.

We'll need to see if it works with the HTML. Otherwise, we can just tweak the generation of the notebooks for download.

Will rename this issue appropriately, etc.

[2019-02-15 21:40] jlperla commented on #527
Make sure ability to push to a staging (i.e. preview) as well as the live.
@jlperla would run it as a test!

[2019-02-15 21:44] jlperla commented on #527
Don't forget pushing the compiled notebooks to the LFS storage for them.

[2019-02-15 22:06] jlperla commented on #443
This is an image of it as well

![image](https://user-images.githubusercontent.com/13106721/52886976-eb71c500-312a-11e9-9485-676afc980542.png)

[2019-02-17 05:10] jlperla opened #540 "Bump JuMP and update the optimization lectures to the new MOI"
Also, is zygote ready?

[2019-02-19 03:42] AakashGfude commented on #502
Hey @jlperla @arnavs did it work?

[2019-02-19 05:03] arnavs commented on #502
Hey @aakashGfude looks like it. We just need to make sure it doesn’t break the HTML display. If we could push to the preview area tomorrow, that would help.

I’ll be pushing on the infrastructure this week so let’s touch base tmw if possible.

[2019-02-19 23:40] arnavs commented on #523
Closing in favor of the issue in Jupinx and the build infrastructure issue.

[2019-02-19 23:40] #523 closed

[2019-02-21 20:15] #443 closed

[2019-02-21 20:18] #419 closed

[2019-02-21 20:20] arnavs commented on #443
@jlperla I can't find the actual issue for this, but with regards to ugly headings like the above, I don't think this is a problem. The badges work on the live site, and the downloaded notebooks don't have this header (and so the dedicated notebooks repo won't, either).

So it's only an issue when you build from source.

[2019-02-25 19:57] arnavs opened #542 "Parallelize Execution Script"
We have a script here, `run-all-notebooks.sh`, which is useful if you want to execute all the notebooks without hooking into the whole build infrastructure (which a lot of people don't even have access to). For example, I've been using it and grepping for errors/failed tests when trying out #541 and #528.

Currently this is written to naively execute things in serial. It would be nice if it were p

[2019-02-25 21:46] #433 closed

[2019-02-25 21:57] jstac opened #543 "reorganize directory structure"
Hi all,

We've just reorganized the Python lecture source directory structure.  See https://github.com/QuantEcon/lecture-source-py/pull/198.

I propose that we do the same on the Julia side.

The motivation is that the names used are confusing, which caused problems for some people.

In particular, in the present structure, PDFs, *.jl files and so on live under `rst_files`.

You can see the new st

[2019-02-25 22:04] arnavs commented on #543
Sounds good, @jstac. Just to confirm, the shift you implemented is to move the `static/` out of the `rst_files/`, bundle them both under `source/`, and (as a hack), symlink `source/rst_files/static -> source/static`?

We're currently working on our own reorganization of the files in #541, to create subdirectories for each section, like `rst_files/getting_started/julia_environment.jl`.

I think thi

[2019-02-25 22:04] jlperla commented on #543
@arnavs now is the right time to do this. Take a look at any contradictions to our reorg into directories.

@jstac we did a reorganization into directories for the lectures recently, to match the datascience. The reason behind it was that for cloning the jupyter directory having a flat structure makes things hard for users to find

[2019-02-25 22:10] jstac commented on #543
@arnavs Confirmed, and yes, I think it's fully compatible.

@jlperla Understood.  That sounds like a good plan.  I'll try to do something similar on the Python side in the near future.

[2019-02-26 00:19] arnavs opened #544 "Rewrite Dyn_Stack"
Per John, update the lecture to pull in Tom's rewrite on the [Python side](https://lectures.quantecon.org/py/dyn_stack.html).

Probably a good way to break this up is:

- [ ] Minimal port (tests pass, code is fairly "Julian," text and math and equation references are up to date).

- [ ] Take a second look at the Julia code for performance/clarity.

Will assign to myself for now.

[2019-02-26 20:28] arnavs commented on #540
Done as part of the directory refactor.

[2019-02-26 20:28] #540 closed

[2019-02-26 20:28] arnavs commented on #531
Bumped to Julia 1.1

[2019-02-26 20:28] #531 closed

[2019-02-26 20:29] #528 closed

[2019-03-05 00:37] arnavs opened #545 "Link Editing"
@XiaojunGuan You'll see that the RST files have been reorganized into subdirectories within the umbrella RST directory.

We've updated all the links that cross directories, i.e.

[code]

But we also need to adopt this structure for links to files in the same directory. That is, every document link should be of the form above.

**Note** that this only applies to document links (i.e., `:doc:` tags),

[2019-03-05 00:39] #527 closed

[2019-03-06 03:23] #502 closed

[2019-03-06 19:49] arnavs commented on #471
@XiaojunGuan Since you've got a window of time, I think this would be useful to knock off. Basically, for every static file in `~/rst_files/_static` or whatever, if you do a control+f across the whole repo for the filename and nothing significant comes up, we can delete the file.

And the thing about flattening is to get rid of the sub directories of the `_static` directory (and change the referen

[2019-03-07 00:25] #545 closed

[2019-03-09 00:19] arnavs commented on #542
@ajozefiak Just wanted to check on in this.

[2019-03-11 16:45] jlperla commented on #543
@arnavs  I just wanted to remind you of this task for when you are iterating on the directory reorganization over the next day or so.

[2019-03-12 04:01] jlperla commented on #538
An update:  For this, I am thinking we are better off waiting until http://fluxml.ai/Zygote.jl/latest/ is solid enough to add to the AD lecture and to organize the value of Julia around support for library composition and "differentiable programming" (https://fluxml.ai/2019/02/07/what-is-differentiable-programming.html) as the evolution of algorithmic differentiation.

Without explaining its abili

[2019-03-15 17:52] #542 closed

[2019-03-20 05:46] yolsever commented on #141
Job Search IV: Modeling Career Choice
ex 1 & soln has duplicate images

[2019-03-26 21:24] arnavs opened #550 "add aakash env variables to conf.py"
putting them here so they're not lost in slack

[code]

[2019-03-26 22:29] #550 closed

[2019-04-24 16:07] #510 closed

[2019-05-14 17:24] jlperla opened #553 "Warning on Plots colorbar entries"
On the vse.syzygy.ca with the prebaked
[code]
and the `kalman.ipynb`
There are a bunch of warnings:
[code]
etc. throughout.  This may be a GR issue with compatability, so it could just be about updating to the ideal version at some point.

[2019-05-17 17:22] jlperla opened #556 "Add vscode instructions to tools_editors"
On https://lectures.quantecon.org/jl/tools_editors.html

- [ ] We need to find a consistent way to have a julia startup file that works for both Atom, the REPL, the Debugger, and vscode.  Might need to ask around
- [ ] Add installation instructions for vscode and setting up julia support
- [ ] Add similar sorts of quick walkthrough of editing code/ ctrl-enter to execute tests, etc.
- [ ] A little

[2019-05-17 17:28] jlperla opened #557 "Add Atom debugger instructions and tutorial"
https://lectures.quantecon.org/jl/tools_editors.html

- [ ] Ensure we have the correct, stable Revise instructions in the julia startup files (and it is consistent with both vscode and atom)
- [ ] Figure out the proper way to version things along with Atom... it seems like it can be fragile with Atom updates?  But maybe there is nothing we can do
- [ ] Give instructions for how to deal with Atom u

[2019-05-17 17:30] jlperla opened #558 "Port over text and then code of the DLEs"
See https://lectures.quantecon.org/py/hs_recursive_models.html

Would need to move over the text and then go through the code.

[2019-05-17 17:33] arnavs commented on #536
Done.

[2019-05-17 17:33] #536 closed

[2019-05-17 18:01] #471 closed

[2019-05-17 18:04] arnavs opened #559 "Eliminate Struct in lu_tricks"
This isn't used for dispatch, nor is it mutable/fancy.

Edit: And all the type annotations.

[2019-05-17 18:30] arnavs commented on #559
Done. And fixed some (unexecuted) bugs while at it.

[2019-05-17 18:30] #559 closed

[2019-05-17 18:33] arnavs commented on #504
Closing as the remaining structs are either used for dispatch (e.g., continuous vs discrete economies with the same fundamental objects), or are mutable and so under #237

[2019-05-17 18:33] #504 closed

[2019-05-17 18:47] jlperla commented on #504
Did we say that the mutable structs should remain mutable?  In general we should avoid mutability if at all possible.

[2019-05-17 19:04] arnavs commented on #504
One of these makes sense (it's for an agent-based model, where the structs represent the agents.) The other two are in very complicated/code-dense lectures (`amss` and `opt_tax_recur`). I think it was decided it's best to leave those two as-is.

[2019-05-27 06:32] #544 closed

[2019-05-27 16:49] arnavs commented on #524
Latest build proves compatibility.

[2019-05-27 16:49] #524 closed

[2019-05-27 16:50] #490 closed

[2019-05-27 17:58] arnavs commented on #543
A bit later than we anticipated, but this is done now. The directory structure on the Julia side now matches the https://github.com/QuantEcon/lecture-source-py/pull/198

[2019-05-27 17:58] #543 closed

[2019-05-27 18:05] #526 closed

[2019-05-27 18:05] arnavs commented on #526
Took a look at this last week, and it's not worth the trouble.

[2019-05-27 18:06] #148 closed

[2019-05-27 18:08] #141 closed

[2019-05-27 18:14] arnavs commented on #289
Done.

[2019-05-27 18:14] #289 closed

[2019-05-27 18:29] arnavs commented on #275
Done, see 7ab4567d18d6e354dfbf0cc2c735d2e9ab8d1647.

[2019-05-27 18:29] #275 closed

[2019-05-27 19:12] arnavs commented on #440
Added two lines here:

[code]

Will leave this open until Jesse can review (I decided to take some time and crunch through the easy cleanup tasks on these.)

[2019-06-12 18:00] jlperla opened #564 "Add in "better" approach to generic programming below the object oriented one"
https://discourse.quantecon.org/t/generic-programming/559

Say that immutability is preferred when possible, etc.  Also point out that some things (eg. agent based models) could be easier with mutable structs...

[2019-06-20 16:49] arnavs opened #568 "Geometric Series Lecture"
Per @jstac's comment https://github.com/QuantEcon/lecture-source-py/pull/436.

Once the lecture is finished on the Python side, it could be a nice small RA project to rewrite the code in idiomatic Julia.

[2019-06-28 16:49] arnavs opened #572 "ProgressMeter"
I think it would be great to show a small use of `ProgressMeter.jl` in one of the lectures (say, `more_packages`? Or maybe something with a long-running computation, like the `dynamic programming squared.`)

Many people probably need to deal with running long-running computations. Would be nice to show a better approach than random `@show`s, etc.

[2019-07-16 15:32] arnavs opened #579 "Mid-July Tasks"
- [ ] Verify that issue with `jupyter lab` vs `jupyter notebook` was taken care of.
- [ ] Think about adding instructions on package compiler + Plots to `advanced setup instructions`, or something like that.
- [ ] Think through whether using the built-in conda/jupyter is better for users to start out.
- [ ] Update the setup instructions once we pin down the best solution for `activate_github_path`

[2019-07-17 16:34] jlperla commented on #579
I am going to spin out a separate issue for the `activate_github_path` from this metaissue for discusison

[2019-07-17 16:43] arnavs opened #581 "Need for Speed Updates"
In a future `2.0` release of the notes, we might consider updating this to include patterns we use in practice:

* A lot of the lecture is about writing `struct`s, which is something we generally discourage people from doing.
* Could include the case of a problem involving some setup work and a repeatedly called kernel (i.e., when to use a function barrier, using inplace operations, etc.)
* Maybe

[2019-07-17 18:51] jlperla opened #582 "Iterate notebook activation approach"
The major change since last fall with the `InstantiateFromURL` is that jupyter kernels now activate any `Project.toml` file, recursively moving up the directory tree.

This means that people are going to start having the perspective that any `Project.toml` and `Manifest.toml` in their directories are the ones that will be activated.  The current method of having `.projects` with versioned toml fil

[2019-07-18 21:32] mmcky opened #583 "Incorrect Settings in Makefile"
When migrating / reworking `Makefile` and `conf` in the `UX` changes -- an incorrect link was used in the `jl` Makefile for `jupyter_images_urlprefix`. It is currently set to reference the `py` site.

@AakashGfude let's review this morning and think if there are any other `py` specific items that need to be reviewed in the `Makefile` updates.

[2019-07-19 00:10] #583 closed

[2019-07-19 06:19] mmcky opened #585 "BUG: `tools_and_techniques/orth_proj` lecture"
<img width="816" alt="image" src="https://user-images.githubusercontent.com/8263752/61513583-ea79f200-aa40-11e9-896b-0160e0831769.png">

https://preview-lectures.quantecon.org/jl/tools_and_techniques/orth_proj.html

[2019-07-22 11:01] mmcky opened #586 "FIX: A few broken links identified from linkchecker"
[linkcheck-julia-broken-lecture-source-jl.txt](https://github.com/QuantEcon/lecture-source-jl/files/3416914/linkcheck-julia-broken-lecture-source-jl.txt)

[2019-08-01 22:26] jlperla opened #588 "New Project file organization of QE lecture notes"
If #582 is the correct structure then we do the following:
- [x] Decide where the "master" of the various Project.toml and Manifest.toml files should be kept
  - My general feeling is that we want it in https://github.com/QuantEcon/lecture-source-jl/tree/master/source/rst  etc. since it is an easier way to keep track of the files as associated with the core source, and there may be different proje

[2019-08-01 22:50] jlperla opened #589 "Updates to the build and deployment process"
If #588 is correct, then we need to make sure the following happens in the build/deployment process:

- [x] Any `Project.toml` and `Manifest.toml` in the `source/rst` tree gets copied over, along with everything else to wherever the notebook building/executing
- [x] Need to figure out a way to easily bump versions of these across the board, such as the evoluation of https://github.com/QuantEcon/le

[2019-08-02 20:20] jlperla opened #590 "Make sure that _static is not deployed to the notebooks repo"

[2019-08-02 20:39] jlperla opened #591 "New InstantiateFromURL activation in lectures"
We will need to have some sort of a comment to tell people how to instantiate if required.
[code]

[2019-08-09 21:02] arnavs opened #593 "Nuke/Rebuild quantecon-notebooks-jl once TOML is done"
No LFS!

[2019-08-09 22:18] jlperla opened #594 "Test shallow clone for the ngitpuller links"
For the nbgitpuller url, it appears that https://github.com/jupyterhub/nbgitpuller/pull/67 has been merged.

This should in principle let us add something like `depth=1` to the url for the nbgitpuller link on both the Julia and Datascience material and get the shallow clone.

Remains to be tested, though.

[2019-08-16 21:52] jlperla opened #598 "Document minimal package compiler setup in lecture"
Since we have a lot of stuff potentially improved by package compilation, it may make sense to document how to do it. Let's
- [ ] put minimal instructions in an optional section in
https://github.com/QuantEcon/lecture-source-jl/blob/master/source/rst/more_julia/tools_editors.rst
- [ ] the idea is that it would take them through the minimal steps after https://github.com/QuantEcon/lecture-source-jl

[2019-08-17 05:29] jlperla commented on #598
This has to work off the released version, or we need to wait

[2019-08-17 05:30] jlperla opened #599 "Archive old Julia notebook repos"
Archive the old name, and put readme to it saying now outdated (with link to new ones)

[2019-08-17 05:30] #522 closed

[2019-08-17 05:38] jlperla commented on #593
See updated idea instead, with archiving. Will be easier to test

[2019-08-17 05:38] #593 closed

[2019-08-17 05:41] jlperla commented on #579
These are being spun out, so will close

[2019-08-17 05:41] #579 closed

[2019-08-17 05:47] jlperla opened #600 "Check feasibility of using built in conda for notebook installation"
The key issue here is the difficulty in launching jupyter from the terminals... Requires adding the conda to path?

- [ ] check if easy way to get path to jupyter? Explain setup instructions to add to path.
- [ ] test installation process and steps
- [x] check if jupyterlab included by default
- [x] easy way to create bookmark to cloned Julia stuff?

[2019-08-17 05:48] jlperla opened #601 "Update instructions for setup to use new InstantiateFromURL, etc"
First decide on #600

[2019-08-17 05:52] jlperla commented on #470
May wait for sparse derivatives, etc. Getting Jacobians, zygote?

[2019-08-17 06:03] jlperla commented on #334
I think there is a better way to do it now

[2019-08-17 06:05] jlperla commented on #444
This is ultimately a jupinx thing, so testing the current behavior and then submitting an issue for an enhancement (if required) is appropriate

[2019-08-17 06:07] jlperla opened #602 "Check if dataframes code needs to be modified"
New version of dataframes has different mutable interface. Check if used anywhere, and adapt

[2019-08-19 16:10] arnavs opened #603 "Archive QELP, QELAP"
Once we have seeded the source repo (this repo) with the new TOML, we can deprecate these old repositories (archive for a bit, then delete.)

[2019-08-19 20:11] #588 closed

[2019-08-19 23:57] arnavs commented on #586
@PooyaFa This is a short one to knock off. Text file above has some broken links/things that are not found. If you could see what's up, and prepare a PR with fixed links, that would be great.

It looks like some external websites (e.g., for `Optim.jl` and `VegaLite.jl` and the QuantEcon website `quant-econ.net/jl`) have been reorganized, so you may have to do a little digging to find the new links

[2019-08-20 00:10] arnavs commented on #553
No longer an issue with the `v0.9.10` version of QELP.

[2019-08-20 00:10] #553 closed

[2019-08-20 10:08] jlperla opened #604 "Upgrade everything to Julia 1.2"
We should test, and upgrade as necessary, everything to Julia 1.2

It is possible that a few dependencies will be broken, which would be a reason to delay (or up the packages as required). We should not use new library features quite yet, though

[2019-08-20 10:10] jlperla opened #605 "Add utilities notebook"
We can get an old version of the one used in a class. This would have a few variations on updating the repo, doing a hard reset, etc.

[2019-08-20 18:03] PooyaFa commented on #586
Just PR .

[2019-08-21 15:08] arnavs commented on #602
@XiaojunGuan basically just go through and search for lectures where we're using `DataFrames.jl`, and there are a bunch of deprecation warnings or something.

[2019-08-21 15:17] jlperla commented on #602
It may only be in the "more Julia" section.

The other thing to do is look if we show mutation of columns, since the notation has changed. It is now `df[!, :col]` to reference a column you will modify.

 See https://juliadata.github.io/DataFrames.jl/stable/man/getting_started/

[2019-08-21 15:17] arnavs commented on #591
Done. 736f61861e1b26c917dc1042f55df5fb01686777

[2019-08-21 15:17] #591 closed

[2019-08-21 20:11] arnavs commented on #602
Done in #608.

[2019-08-21 20:11] #602 closed

[2019-08-21 20:13] arnavs commented on #586
Closed in PR above. Thanks @PooyaFa

[2019-08-21 20:13] #586 closed

[2019-08-21 23:04] jlperla opened #609 "Update README with the instructions for editing/compiling a single lecture"
i.e. https://github.com/QuantEcon/lecture-source-jl/blob/master/README.md

Explain how to edit a single lecture, what settings should be required (e.g. LF and 4 spaces for tabs?)

For windows: https://docs.microsoft.com/en-us/windows/wsl/wsl2-install

[2019-08-21 23:10] jlperla commented on #609
The docker on windows WSL may require waiting for the next release of windows.

[2019-08-21 23:29] jlperla opened #610 "Get rid of minor Julia versions in the breadcrumbs"
![image](https://user-images.githubusercontent.com/13106721/63475175-afe4ea00-c430-11e9-829c-3b902fa16897.png)

See above. Right now it shows "Julia 1.1.0" in the breadcrumbs, which is incorrect and often out of sync.  I think just saying "Julia" would be good enough for now.  We can deal with it again when Julia releases a 2.0 version

[2019-08-22 04:27] jlperla opened #611 "Submit PR for IJulia and jupyterlab support"
Seems to be a "bug" right now in IJulia with `jupyterlab(detached=true)` where it always asks to install via Conda?  `notebook(...)` does not do this.  It should probably check that jupyterlab exists prior to asking about installation.

Also, what about having a "acceptdefaults" argument for the installation to choose `y` for everything?

[2019-08-22 04:27] jlperla commented on #600
Seems to be a bug right now in IJulia with `jupyterlab(detached=true)` where it always asks to install via Conda?  `notebook(...)` does not do this  See #611

[2019-08-22 04:41] jlperla commented on #611
See https://github.com/JuliaLang/IJulia.jl/blob/master/src/jupyter.jl#L103

It could be that the check on the `exe` isn't working on windows?

[2019-08-22 04:42] jlperla commented on #600
The response to the "bookmark to cloned julia" is that jupyterlab remembers the location.  So calling `jupyterlab(detached = true)` by default has decent behavior.

Jupyterlab is not installed by default.

[2019-08-22 04:44] jlperla commented on #611
Ask maintainers if they would accept a PR simply installing jupyterlab and jupyter together?  It is a decent default now.

[2019-08-22 05:30] jlperla opened #613 "Add in Weave support/example in the "Editors and Tools" section?"
We can base the installation on the internal conda setup for simplicity

[2019-08-22 05:30] jlperla commented on #613
i.e. I think we need to do a `Conda.add("nbconvert")` or whatever it is.

[2019-08-22 05:33] jlperla opened #614 "Add in note on fixing Juno if it breaks"
All to frequently it breaks on Atom updates.  The idiot-proof workaround, in a terminal, is to execute

[code]

[2019-08-22 17:22] arnavs commented on #610
cc @DrDrij, what are your thoughts? I think this is grabbing the kernel information from the `conf.py`:

[code]

Do we just change the display name?

[2019-08-22 17:31] arnavs commented on #590
The setup moves `_static` to `_build/website/jupyter/executed`, but all the links and such refer to the AWS. So we don't depend on it, and can just ignore it when populating the notebooks repo.

Will close this out once that pipeline is actually built.

[2019-08-22 17:42] Nosferican commented on #610
If it is just grabbing the kernel information, it should keep updated. I think it is useful to know which version was used to run the code.

[2019-08-22 17:46] jlperla commented on #610
It gives the (incorrect) impression that the code only runs on a particular minor version of Julia, which is incorrect. If you want that sort of information, you could see it in the coverage.

[2019-08-22 17:53] Nosferican commented on #610
I would disagree that it gives that impression as most blogs and kernels will have the version it runs. I don't assume it wouldn't run with anything later (e.g., Julia `v1.2.0` which is the current latest release, and the version people default to when installing Julia the first time). No strong feeling on whether it would work with the long term support release (Julia `v"1.0.4")`. We could add a

[2019-08-22 17:58] arnavs commented on #610
Worth noting that the kernel information isn't necessarily even up-to-date; i.e., `conf.py` could be out of sync with what comes out of `jupyter kernelspec list.` You'd need to grab info from `nbconvert` to see what the display name is for the kernel that's actually used.

I've submitted a commit and I'll check if this is fixed in the next hourly build.

We can change it back later if that's what

[2019-08-22 19:26] jlperla commented on #610
Great.  BTW, note that the "Python" lectures just say "Python" in the breadcrumb, without even saying Python 3, so this is much more consistent with the general site.

[2019-08-22 19:41] jlperla commented on #605
This is actually a duplicate of #505

[2019-08-22 19:42] #605 closed

[2019-08-22 19:44] jlperla opened #615 "Update the "How to read this lecture..." on the html"

[2019-08-22 19:48] jlperla commented on #601
#612 does some of this.

[2019-08-22 19:53] jlperla opened #616 "Test new conda-based setup instructions on key OSs"
After #612 is merged, follow the instructions carefully with Julia 1.2

- [ ] Windows
- [ ] OSX
- [ ] Ubuntu
- [ ] Ubuntu on WSL

Also, test the instructions from the perspective of someone who installed Jupyter separately in conda. (i.e. delete the `.julia` install Conda locally, and then make sure the "Alternatively" work.)

[2019-08-22 19:53] #600 closed

[2019-08-22 19:57] jlperla opened #617 "New notebook repo without LFS"
@sglyon @cc7768 @arnavs  Just pinging you on this.  We discussed a change in the notebook repo name to be more consistent, which is fine with me!

- [x] I suggest doing a search for `quantecon-notebooks-jl` in the source to replace it so we don't have any old links.

[2019-08-22 20:01] jlperla commented on #604
We can pull this if there are issues.

[2019-08-22 20:49] jlperla commented on #611
See https://github.com/JuliaLang/IJulia.jl/issues/866

Likely a windows bug where it calls `'C:\Users\USERNAME\.julia\conda\3\Scripts\jupyter.exe' lab` instead of the `jupyter-lab` that is checked by osx/linux in the code https://github.com/JuliaLang/IJulia.jl/blob/master/src/jupyter.jl#L103

[2019-08-22 20:57] arnavs opened #618 "Bump TOML versions"
Per Xiaojun's comments regarding `DataFrames` and `NLsolve` interaction.

[2019-08-22 21:54] jlperla opened #619 "Jupyterlab shortcut creator?"
See https://github.com/JuliaLang/IJulia.jl/issues/867

If we did this, we would need to adjust the documentation directly.  e.g. "click on jupyter icon" instead of running a terminal, etc.

[2019-08-22 22:18] jlperla commented on #617
https://github.com/QuantEcon/quantecon-notebooks-julia  created, but not populated.  We will want to make sure it is populated with the correct TOML/etc. structure and no other garbage.

[2019-08-22 22:47] arnavs commented on #590
Added `_static` to the `.gitignore` for that repo. Pipeline is then a simple drag and drop.

[2019-08-22 22:47] #590 closed

[2019-08-22 22:49] arnavs commented on #604
@jlperla I'm moving this to `v1.1` for now because we are dependent on an upstream PR to do it properly. If we have extra time, I will come back to it.

[2019-08-22 23:10] jlperla commented on #611
Fixed on master of IJulia.

[2019-08-22 23:10] #611 closed

[2019-08-22 23:24] jlperla opened #621 "Determine appropriate dataframes version and do deprecation check with the full toml"
Due to the change in the dataframes notation, plenty of downstream packages have nasty deprecation warnings.  We need to see if it is possible to use the newer version of DataFrames without breaking dependencies (e.g. GLM, FixedEffect, etc.)

If everything works except for a particular deprecation warning on a particular package, then we can live with it while the package fixes things up.

[2019-08-22 23:28] arnavs commented on #589
The way to do this is to do a global find/replace on all `*.jl` and `*.toml` files for the current version number.

Other than that, I've worked with @AakashGfude over the last few days and the `InstantiateFromURL` + Jupinx infrastructure is now in place.

[2019-08-22 23:28] #589 closed

[2019-08-22 23:39] arnavs commented on #621
There are a few (4) deprecation warnings in `GLM.jl`. And one in `StatsModels.jl`

Since the line numbers are all there, may just be easier to patch those packages to use the new notation. Will send them PRs.

[2019-08-22 23:43] jlperla opened #622 "Change the template for adding the packages"
Currently it is
[code]

Can we instead change the pattern to
[code]
I realized that `] instantiate` won't work by default in the same cell.  Instead, we can add it to the "How to read the lecture" notes" and see if people get confused.

[2019-08-22 23:44] jlperla commented on #615
Add a comment that says to run `] instantiate` as required

[2019-08-23 00:57] #622 closed

[2019-08-23 00:57] #621 closed

[2019-08-23 01:07] #617 closed

[2019-08-23 01:12] arnavs commented on #615
@jlperla I'm able to make this change, if you'd like to add it to `v1.0.2` release.

[2019-08-23 01:19] arnavs commented on #603
Since the new setup is working, these have been **archived** (not deleted.) They are read-only.

We can eventually delete them once the new release "takes."

[2019-08-23 01:19] #603 closed

[2019-08-23 01:24] jlperla commented on #615
Let's wait until 1.1 when we have the full launching updated

[2019-08-23 04:05] jlperla opened #623 "Move unnecessary packages from the core julia toml?"
Currently, the packages in the toml for the baseline Project.toml are:
[code]
The ones to see if we can strip out are:
[code]
Of these, `Revise, Polynomials LaTeXStrings,DataFramesMeta` are all necessary in the `more_julia` TOML for sure - but don't seem to be used outside of it.

I think that `ColorTypes` can just be removed directly as it doesn't seem to be used directly?  If it is a downstream

[2019-08-23 04:57] jlperla opened #624 "Minimize Subdirectory TOMLs"
I am not sure if getting_started_julia/Project.toml is needed, but I know that it is excessive.

Consider getting rid of it and running coverage to check if things work?  Consider adding packages to the main Project if it is something small and innocuous or lets discuss if it is not.

[2019-08-23 05:13] jlperla opened #625 "Minimize more_julia Project.toml file"
https://github.com/QuantEcon/lecture-source-jl/blob/master/source/rst/more_julia/Project.toml

I think there is a lot we can remove (if only temporarily to simplify the dependencies).

[2019-08-23 05:14] jlperla commented on #625
Of course, it needs to be a strict superset of the parent toml.

[2019-08-23 06:09] arnavs commented on #604
I've had success with the `julia-1.2` kernel, so let's use that in the `conf.py`. @mmcky has installed it on the EC2 machine.

[2019-08-23 06:09] #604 closed

[2019-08-23 06:35] jlperla opened #626 "Check coloring of installation output"
See https://github.com/QuantEcon/InstantiateFromURL.jl/issues/40

We need to run the code on a desktop installation to see how it looks without having output stripped

[2019-08-23 17:05] #618 closed

[2019-08-23 17:10] arnavs commented on #624
@jlperla For the initial setup, I just added a copy of QELAP to every subdirectory with a lecture that depended on it.

You're right that this doesn't make sense here. This can be removed.

[2019-08-23 17:11] #624 closed

[2019-08-23 18:28] arnavs commented on #616
@jlperla I find that quitting the `julia` terminal isn't enough to stop the notebook server started with `using Ijulia; jupyterlab(detached = true)`. I guess because it's detached.

How have you been doing this?

[2019-08-23 18:36] jlperla commented on #616
What os? It always seemed to shutdown on windows, after closing the terminal, but if it doesn't with Linux/osx then that is an issue.

Maybe take the `detached` out of all of the instructions (globally do a search in the PR)?

Also, change the text to reflect that the he jupyter notebook server now takes the whole repl, etc. There is a chance you will need to rethink a few steps in the he instruct

[2019-08-23 20:04] jlperla opened #627 "Implement and test package compiled binder docker for the quantecon notebooks repo"
Remember that we want the https://github.com/QuantEcon/quantecon-notebooks-julia to work with binder as a backup to other hubs.

I assume this should wait until the upstream datascience image is ready?  If not, then no reason not to wait.

A big question here is which toml to use in the docker build.  In particular, do we want to support the `more_julia` lectures?  We can try out the binder using

[2019-08-23 20:08] arnavs commented on #601
The new instructions look good. They install `InstantiateFromURL` in `getting_started`, and then we tell them their first notebook might take a while to run.

[2019-08-23 20:08] #601 closed

[2019-08-23 20:19] jlperla commented on #599
I think they are now archived, and we just need to adjust the text to mention the deprecation and the new location?

[2019-08-23 20:20] jlperla commented on #513
@arnavs  Is this still relevant with the packagecompiler based image?

[2019-08-23 21:43] arnavs commented on #513
@jlperla Not really. Good point.

[2019-08-23 21:43] #513 closed

[2019-08-23 21:44] arnavs commented on #599
Yeah, archived them in #603. I will un-archive each, make those changes, and then re-archive. (Archiving means you can't even edit the README.)

[2019-08-23 21:49] #599 closed

[2019-08-23 22:09] arnavs commented on #626
See these two use cases. @jlperla You can close if this looks good.

<img width="1192" alt="Screen Shot 2019-08-23 at 3 08 40 PM" src="https://user-images.githubusercontent.com/5009477/63626435-ec8f1d80-c5b7-11e9-88f0-67d1d66e0b74.png">
<img width="731" alt="Screen Shot 2019-08-23 at 3 08 49 PM" src="https://user-images.githubusercontent.com/5009477/63626436-ec8f1d80-c5b7-11e9-9f6f-0dd7227b9de1.pn

[2019-08-23 22:10] jlperla commented on #626
Looks good to me

[2019-08-23 22:11] #626 closed

[2019-08-24 05:43] jlperla commented on #505
@arnavs Can you add this into (after the rename) to the root of the rst source as a dependency, and have it deployed to the notebook repository?
[utilities.ipynb.txt](https://github.com/QuantEcon/lecture-source-jl/files/3536914/utilities.ipynb.txt)

[2019-08-24 14:23] jlperla commented on #505
Actually, I have a change of heart on this.  I think the "delete and repull" workflow will be easier to use with the launch support built in.  So hold off on this for now.

[2019-08-24 14:27] jlperla opened #628 "Document and test process for refreshing/resetting notebooks with "Launch""
When we have the built-in jupyterhub sections, we can document how to reset a notebook from the webpage.  Basically, delete and click "launch" again.

A jupyterlab plugin sounds like it might be the best approach as the medium-term solution.

[2019-08-24 22:07] arnavs commented on #610
You can see that this has been fixed in the `preview-lectures.quantecon.org/jl` lectures.

[2019-08-24 22:07] #610 closed

[2019-08-26 16:43] jlperla opened #630 "Move to a megapackage"
Delete the `.julia`.   instantiate the megapakcage, and see how big `.julia` is?

[2019-08-26 16:46] jlperla opened #631 "Change the documentation to describe the "Clone" or github icon"
Take screenshots for the docs.

[2019-08-26 17:31] #625 closed

[2019-08-26 17:48] #630 closed, assigned to nobody

[2019-08-28 05:22] jlperla opened #632 "Check for typo in markov-chain lectures"
https://discourse.quantecon.org/t/query-regarding-ergodicity-section-in-lecture-notes-on-finite-markov-chains/568

This should be fixed in the python lectures, so see if it is also wrong in julia.

[2019-08-28 06:27] #632 closed, assigned to nobody

[2019-08-28 15:39] arnavs opened #633 "New Plots Interface"
From Jesse:

[2019-08-28 15:55] arnavs opened #634 "Wait on RegressionTables and Re-Add to Lectures"
This is currently commented out, and removed from Project/Manifest. Before 1.1, we should take another look.

[2019-08-28 16:39] jlperla opened #635 "Typo in the setup RST"
[code]

[2019-08-28 16:42] jlperla opened #636 "Check the list of repositories in the launch button"
Make sure it has `quantecon.syzygy.ca` and `vse.syzygy.ca`

[2019-08-28 16:59] #635 closed, assigned to nobody

[2019-08-28 17:17] arnavs opened #637 "Fix Regression Tests"
So that there aren't any false negatives.

[2019-08-28 18:30] #636 closed, assigned to nobody

[2019-08-28 22:09] jlperla opened #638 "Update the vse.syzygy.ca and quantecon.syzygy.ca with latest manifest"
We need to have the jupyterhubs updated to:
- [ ] instantitate the latest manifest for the megapackage
- [ ] packagecompile in the key packages

At that point, we can fully test the launch button/etc with the setup.

[2019-08-28 22:10] jlperla commented on #631
Lets move this for now and leave the instructions as is.  We can update the "clone" icon at a later date, maybe even after the new toolbar is built.

[2019-08-28 22:26] arnavs opened #639 "WSL Setup"
Double-check user depot on WSL. This has implications both for these lectures, and for InstantiateFromURL.

If needed, update setup instructions and IFU.jl code accordingly.

[2019-08-28 22:26] arnavs commented on #639
From Jesse:

If we support WSL, should add this in somewhere.

[2019-08-29 04:12] jlperla opened #641 "Having issues with ProgressMeter.jl installation on WSL"
I am installing on WSL in order to run jupinx.  I run into the following issue when activating the current project:
[code]
This is almost certainly a ProgressMeter.jl bug.  Do we actually need/use it in the current set of notes?  If not, we can remove it from the Package/Manifest, and submit an issue to that repo for now.

[2019-08-29 05:00] arnavs commented on #641
@jlperla We have a `ProgressMeter` demo in the `general_packages` lecture.

Also, I wouldn't be surprised if there isn't something else going on.  That error stack looks like some backend `Pkg` stuff, and there's no similar issue in `ProgressMeter`. It could be a WSL-specific thing. But I looked around for this error, and couldn't really find any record of it in a Julia repo.

Let me ask around on

[2019-08-29 05:18] jlperla commented on #641
This is a 1.1 comment.  Focus on the 1.0.2 stuff, unless you have it all working.

[2019-08-29 17:21] arnavs opened #645 ""How to Read..." Duplication"
Included once in the theme and once in the actual RST.

Probably easiest to delete the RST.

See also #615 for updating.

[2019-08-29 17:23] jlperla commented on #645
Moving this to v1.0.2.  We can't release a version with the doubling.

[2019-08-29 17:45] arnavs commented on #645
Fixed.

[2019-08-29 17:45] #645 closed

[2019-08-29 19:41] jlperla opened #646 "Update quantecon.syzygy.ca to use Julia 1.2 kernel"
Right now if you launch a notebook, it asks you to select a kernel (because they are set to Julia 1.2 instead of the 1.1 that is installed).

- [x] VSE
- [ ] QuantEcon

[2019-08-29 19:47] jlperla opened #647 "Change julia jupyterhub dropdowns, and the default choice"
Right now they are listed as:
- `VSE`
- `PIMS`
- `binder`
- `colab`

First, we should remove `colab` from this list since it doesn't yet support julia.  After that, I think things look better with the full URL, so maybe change this to (in this order!)
- `mybinder.org (Public)`
- `quantecon.syzygy.ca (Public)`
- `vse.syzygy.ca (UBC only)`

I think that it could also be that `colab` is the current d

[2019-08-29 19:51] jlperla commented on #638
This seems to be working well (other than the posted kernel selection issue) so I will close for now.

[2019-08-29 19:51] #638 closed

[2019-08-29 19:57] jlperla opened #648 "Update Launch text and caveats"
- [ ] One key is, in full bold, to point out we make no warranty on files being maintained on the public sites.
- [ ] Also, have some instructions or at least an example for the `private` URL choice
- [ ] Maybe have an email address to QE for schools with a jupyterhub they want easily accessible in the list.  There won't be too many for a while.
- [ ] Point out the public binder is slow

[2019-08-29 23:29] jlperla opened #649 "Remove the PDF badge for now"
cc: @mmcky

[2019-08-30 08:24] arnavs commented on #646
This is also dependent on the upstream jupyter/datascience-notebook. Once that’s done it’s just a find and replace.

[2019-08-30 09:36] arnavs commented on #647
Done.

[2019-08-30 09:36] #647 closed

[2019-08-30 12:46] jlperla opened #650 "Remove Compat from the entire lecture set (and the Package/Manifest)"
This should not be required after 1.1

[2019-08-30 12:46] jlperla commented on #650
Make sure to carefully check the coverage afterwards, though, because Compat could have caused other side effects.

[2019-08-30 13:03] jlperla commented on #646
I made a comment on the PR, but I am concerned that this is not the right approach.

Maybe the best approach is to take the dockerfile and do a QE specific one where we have better control and can cut out what we don't need in order to speed things up.  Image sizes matter, and I suspect there is a whole bunch of stuff this image has that we don't need.  They can't (and shouldn't) accept our change

[2019-08-30 13:13] jlperla commented on #646
For example, wouldn't dependence on this mean we have the full R stack in the binder kernels due to using the `datascience-notebook`?

[2019-08-31 17:46] jlperla opened #651 "More material for style guide"
See https://docs.julialang.org/en/v1/manual/variables/#Stylistic-Conventions-1
Also, good format for nt generator... Can't use capital  case

Also look at https://github.com/jrevels/YASGuide/blob/master/README.md

and http://www.juliaopt.org/JuMP.jl/dev/style/

[2019-08-31 17:48] jlperla opened #652 "Update benchmarking if @btime becomes local"
See https://github.com/JuliaCI/BenchmarkTools.jl/issues/118#issuecomment-425736436

[2019-08-31 18:13] jlperla opened #653 "Investigate jupyterlab extensions for the QE quantecon hub"
https://github.com/jupyterlab/jupyterlab-toc
and
See https://github.com/timkpaine/tkp_jupyterlab/blob/master/extensions.txt

[2019-08-31 18:14] jlperla commented on #653
Could also add important ones to the setup instructions on a desktop

[2019-09-01 07:55] arnavs commented on #646
OK, I updated the kernel for VSE syzygy by making our notebook by changing our dependence to `jupyter/scipy-notebook` and then including stuff for Julia etc. It's building now on the server. @jlperla can you play around with this on Sunday and let me know if things look OK for teaching?

For the QE, I will use our sageless minimal Dockerfile from before.

[2019-09-01 13:59] jlperla commented on #646
Sure, just tell me when the image is uploaded for the VSE syzygy (and if I need to delete my `.julia`, etc.).  At this point, only the 1.1 kernel is showing.

[2019-09-01 21:56] arnavs commented on #649
Made the relevant change to `julia.tpl`; should be reflected in the next clean build.

[2019-09-01 22:07] arnavs opened #654 "Launch Button Default to Binder"
cc @DrDrij @jlperla @mmcky

We changed the order of the options in the launch bar (which took.) The issue is that the actual bar still defaults to `CoLab` (which doesn't exist anymore, as an option.)

Any advice? @DrDrij could you take a quick look through our `julia.tpl` and see if there's an easy fix?

<img width="926" alt="Screen Shot 2019-09-02 at 12 05 51 AM" src="https://user-images.githubus

[2019-09-01 22:18] arnavs commented on #616
Closing this since we incorporated feedback from @XiaojunGuan and @wupeifan. Thanks to both of you for your detailed comments.

[2019-09-01 22:18] #616 closed

[2019-09-01 22:45] arnavs commented on #646
@jlperla I started a build of the `quantecon.syzygy.ca`, will restart the hub when it's done and then take a look. This is the minimal approach we discussed before. It's midnight here so won't be able to verify until tomorrow.

If for any reason it doesn't work, as a band-aid we can take the VSE syzygy, and delete the install steps corresponding to [SageMath](https://github.com/ubcecon/vse-jupyter

[2019-09-02 03:31] jlperla commented on #654
To make sure I understand: is it that `colab` in https://github.com/QuantEcon/lecture-source-jl/blob/master/theme/templates/julia.tpl#L167 should be replaces by the string from https://github.com/QuantEcon/lecture-source-jl/blob/master/theme/templates/julia.tpl#L205

[2019-09-02 03:42] jlperla commented on #634
For https://github.com/jmboehm/RegressionTables.jl/issues/26

Is there any way we could make the PR ourselves?

[2019-09-02 03:42] jlperla opened #655 "Regtable not fully commented out"
Right now the `data_statistical_packages` is failing due to the `regtable` function in the `FixedEffects`.  I am not entirely sure if having that `FixedEffects` code is worth it until the regtable is fixed?  What would the output of the call look like without displaying it?

I think you can just comment out the whole `FixedEffects` section and then we can turn it back on when regtable merges.

[2019-09-02 04:09] jlperla commented on #654
@DrDrij  If you can increase the delay on the popup of the launch button by a bit more when you look at this, I think it may be slightly better, but I defer to you on usability.

[2019-09-02 04:45] jlperla opened #656 "Math not formatting properly in `linear_algebra.rst`"
Go to http://preview-lectures.quantecon.org.s3-website-ap-southeast-2.amazonaws.com/jl/tools_and_techniques/linear_algebra.html#3 and not the escaping is incorrect for inline math.
![image](https://user-images.githubusercontent.com/13106721/64090768-c7aa5100-cd01-11e9-9044-6ddf4569761b.png)

[2019-09-02 04:51] jlperla opened #657 "Minimalist binder image"
I looked at a few of the docker stacks images, and they are pretty massive.  Here is my analysis:
- 227MB: https://hub.docker.com/r/jupyter/base-notebook/tags/  is .  Doesn't look like any garbage there as it just sets up miniconda+jupyter stuff.  Good place to start
- 1GB: https://hub.docker.com/r/jupyter/minimal-notebook/dockerfile adds a bunch to base, but the biggest stuff there may be the lat

[2019-09-02 05:41] arnavs commented on #655
Thanks @jlperla for catching this. I removed mention of the package in the above commit.

[2019-09-02 05:41] #655 closed

[2019-09-02 05:44] arnavs commented on #649
Closing since I confirmed this is gone in the latest `preview-lectures` build.

[2019-09-02 05:44] #649 closed

[2019-09-02 05:45] jlperla commented on #650
I have rethought this and think we should push things forward if possible, otherwise it invalidates every single notebook when we fix it.

Can we give finding `Compat` and globally getting rid of it in the notebooks? I suspect this will have no side effects.

[2019-09-02 06:08] DrDrij commented on #654
@jlperla You correctly identified the lines to amend. I've also increased popup opening delay from 200ms to 500ms. The PR is ready here:
https://github.com/QuantEcon/lecture-source-jl/pull/658

[2019-09-02 06:37] #207 closed

[2019-09-02 06:42] jlperla commented on #287
We should review the suggested setup file. Maybe revise isn't appropriate for our workflow and we should only link to it

[2019-09-02 22:35] arnavs commented on #650
I opened #659 and started a coverage build for it. It is around 12:30 AM here so sleeping soon, but I will check this in 7 hours or so when I wake up.

[2019-09-03 05:20] #650 closed

[2019-09-03 05:32] jlperla opened #660 "Execution for Downloads Notebooks"
Go to a file with static images, just as you can he first lecture. It looked to me like it was looking for a local file instead (in `_static`of pointing at the internet°I noticed this in binder, but could it be everywhere? @arnavs @mmcky

[2019-09-03 05:54] arnavs commented on #660
@jlperla Are you checking the `quantecon-notebooks-julia`?

That one has not been updated in a while, and was populated with filler notebooks. We will be adding the (executed) notebooks from the `_downloads` section which has the global URLs for images.

[2019-09-03 06:11] mmcky commented on #660
@arnavs also working on adding execution for you on the `_downloads` notebook.

[2019-09-03 06:53] arnavs commented on #660
Sounds good @mmcky. Updated the title, since we still need that to work before we can release.

[2019-09-03 10:34] arnavs opened #661 "Fix False Positives in Test Coverage"
Don't want to give people the impression that something is wrong with a given lecture, when there isn't.

[2019-09-03 10:36] arnavs commented on #654
Fixed in the latest clean build.

[2019-09-03 10:36] #654 closed

[2019-09-03 10:41] arnavs commented on #660
@mmcky has indicated that either this will get handled tomorrow (Australian) in a Jupinx patch, or we will manually execute on Wednesday and then patch Jupinx on Friday.

[2019-09-03 12:26] jlperla commented on #660
Yes, that is what I was testing with, since it is the user facing thing.  Whatever it takes to get them fixed up for teaching is appreciated.

[2019-09-03 12:29] jlperla commented on #661
Making sure there are no false positives is useful (note that false negatives would mean we fail to see an issue, not that we flag an issue that doesn't exist), but lower priority than making sure the notebooks themselves are the "real" ones.

[2019-09-03 12:35] jlperla commented on #646
The quantecon.syzygy.ca seems to be working (with the caveat that "who knows" if the notebooks are not kept to date).  But for the purpose of this issue, I think you can close it from my perspective.

[2019-09-03 13:31] jlperla opened #662 "Condider changing the `dev` example to use local directory instead of `.julia/dev`"
I think we should try to see if training people to put their own packages outside of `.julia/dev`... especially if we tell them to occasionally nuke the `.julia` directory.

Where this would mainly bind is in: https://lectures.quantecon.org/jl/more_julia/testing.html

We should tell people how to do the `develop --local ExamplePackage` or whatnot as well... And tell them that without the `--local`

[2019-09-04 05:13] jlperla opened #665 "Only use the df[!, :col] for mutation"
Right now the code in http://preview-lectures.quantecon.org.s3-website-ap-southeast-2.amazonaws.com/jl/more_julia/data_statistical_packages.html#Constructing-a-DataFrame shows `df[!, :col]` but I don't think you need to do that unless you are mutating it?

[2019-09-04 05:16] jlperla opened #666 "Alternatives to Printf?"
See http://preview-lectures.quantecon.org.s3-website-ap-southeast-2.amazonaws.com/jl/multi_agent_models/rational_expectations.html

Not sure if this is really necessary for the lecture and alternatives would work?

[2019-09-04 05:17] jlperla opened #667 "Fix QuantEcon DSP deprecation"
Note http://preview-lectures.quantecon.org.s3-website-ap-southeast-2.amazonaws.com/jl/time_series_models/estspec.html for example.

[2019-09-04 05:19] mmcky commented on #666
@jlperla it is probably best to reference the source rather than the preview site as it is liable to change (as the `master` branch changes).

https://github.com/QuantEcon/lecture-source-jl/blob/master/source/rst/multi_agent_models/rational_expectations.rst

[2019-09-04 05:35] jlperla opened #668 "Error with instantiatefromurl on vse.syzygy.ca"
![image](https://user-images.githubusercontent.com/13106721/64228254-18a17d00-ce9b-11e9-880c-2ea3846a762f.png)

[2019-09-04 05:49] mmcky opened #669 "Remove zreferences.html at the root level of lectures.quantecon.org"
Once the links are fixed in `conf.py` we can delete the `zreferences.html` file located at the root level of lectures.quantecon.org

[2019-09-04 05:54] jlperla opened #670 "Images in jupyter notebook are distorted"
![image](https://user-images.githubusercontent.com/13106721/64228393-8c438a00-ce9b-11e9-8b26-5fc0a34b7701.png)

See https://github.com/QuantEcon/lecture-source-jl/blob/master/source/rst/getting_started_julia/getting_started.rst for example.  OS: Windows 10, browser:

[2019-09-04 05:57] mmcky commented on #670
hey @jlperla I don't see that on the live site for that lecture?
https://lectures.quantecon.org/jl/getting_started_julia/getting_started.html

[2019-09-04 05:57] mmcky commented on #670
ah - its in https://lectures.quantecon.org/jl/getting_started_julia/julia_environment.html

[2019-09-04 06:41] arnavs commented on #668
@jlperla Closing because I can't reproduce.

This is a Linux error (not Julia) that probably is coming from the changes I made to (e.g.) nuke your `.julia` directory, and things like that.

<img width="1117" alt="Screen Shot 2019-09-03 at 11 41 08 PM" src="https://user-images.githubusercontent.com/5009477/64231368-50f98900-cea4-11e9-9595-c16d83bd1c63.png">

[2019-09-04 06:41] #668 closed

[2019-09-04 06:41] arnavs commented on #668
(So, if we restart your server, maybe with one more round of nuking, you should be OK.)

[2019-09-04 06:43] arnavs commented on #660
Closing this because of @mmcky's PR https://github.com/QuantEcon/quantecon-notebooks-julia/pull/2.

There is https://github.com/QuantEcon/sphinxcontrib-jupyter/issues/267 which deals with executing the download notebooks, since those notebooks solve our URL issues.

[2019-09-04 06:43] #660 closed

[2019-09-04 06:50] arnavs commented on #646
Sounds good @jlperla.

[2019-09-04 06:50] #646 closed

[2019-09-04 07:00] jlperla commented on #445
Don't forget about the first two lectures are heavily image based as well

[2019-09-04 12:49] jlperla opened #671 "Get Escape $ Fix Working in Monospace Format"
See
![image](https://user-images.githubusercontent.com/13106721/64256060-810e4f80-ced7-11e9-9227-40a878273e12.png)

This is in https://github.com/QuantEcon/lecture-source-jl/blob/master/source/rst/getting_started_julia/julia_by_example.rst

There were changes in the Jupinx escaping that might cause this.  We should try to find other places where a $ is used as display in a text block

[2019-09-04 12:56] jlperla opened #672 "Review McCall code comparing take 1 and take 2 to fix possible error"
From Markus:

[2019-09-04 13:02] jlperla commented on #668
Yup, your fix worked.  I think we will want to have a script that does the nuking/server stopping for everyone when we need to.

[2019-09-04 13:27] jlperla opened #673 "Change kernelspec displayname to include minor version, and check nb"
There are unnecessary conflicts introduced for people executing a notebook.   The git diffs, and deployment of updates from the server, will be easier if we can minimize these changes.

See
![image](https://user-images.githubusercontent.com/13106721/64258743-9e91e800-cedc-11e9-9728-de154a56cac2.png)

Which you can see only has irrelevant changes.  In particular:
- Can we change it to ` "display_na

[2019-09-04 15:07] arnavs commented on #637
Same as #661

[2019-09-04 15:07] #637 closed

[2019-09-04 15:09] arnavs commented on #667
@jlperla This deprecation is coming from `QuantEcon.jl` (see https://github.com/QuantEcon/QuantEcon.jl/issues/248) and is a known issue in that package. I don't think it came from a recent release.

[2019-09-04 15:16] arnavs commented on #667
Also, this is the only deprecation warning (it shows up in 4 lectures.) I'll push forward on tagging a new release of QuantEcon (looks like there is template code for this that Spencer wanted to merge, but the PR author closed it.)

[2019-09-04 15:18] jlperla commented on #667
Don't close this issue (unless it is a duplicate in this repo) until fixed

[2019-09-04 16:46] arnavs commented on #661
Done, will close when I see the changes reflected in the next nightly build.

[2019-09-04 17:42] #627 closed

[2019-09-04 20:24] #661 closed

[2019-09-04 20:54] arnavs commented on #667
We tagged a new version of `QuantEcon` with the error gone, and ran `] up QuantEcon` in the TOML.

The few sub-dependency upgrades looked innocuous, but just to be paranoid I am running coverage again.

[2019-09-04 20:54] #667 closed

[2019-09-04 21:04] #585 closed

[2019-09-04 22:36] mmcky opened #674 "Julia Status Page should have Jesse's name"
http://preview-lectures.quantecon.org.s3-website-ap-southeast-2.amazonaws.com/jl/status.html

this needs to be updated in the `status.html` file in `theme`

[2019-09-05 00:23] mmcky commented on #673
@DrDrij can we make this change to the breadcrumbs for `julia`?

[2019-09-05 01:38] arnavs commented on #657
I'm closing this since it is implemented, and works well per my testing.

Once @jlperla  experiments, he can make a decision about whether this is preferable to the standard image.

[2019-09-05 01:38] #657 closed

[2019-09-05 03:42] jlperla commented on #673
@mmcky Just to be clear, the real pain right now is that anytime you execute a file, it changes those lines in the output (which makes it have false-positives on git changes).  This makes it hard to update notebooks, even when nothing changes.

If the kernelspec needs to display Julia 1.2.0 or whatever in the theme for now, then so be it.  But I think it would be better in the medium-run if it jus

[2019-09-05 08:20] jstac commented on #672
I agree with Markus, FYI.

The Python side seems to be OK.  Personally, I recommend using direct iteration, spelled out explicitly, so the students can see what's going on.  But that's just my preference.

[2019-09-05 13:07] jlperla commented on #672
Definitely. Sorry for the delay in the fix yesterday, as I had to get my computer setup with the new jupinx which took some time, but I am up and running.  A PR fixing the issue (and adding a test which seems to have slipped through the cracks) is complete, and we can merge this morning.

What is going on in the background is Anderson iteration which can be an order of magnitude faster than picard

[2019-09-05 13:11] jlperla commented on #674
If this is non-trivial for the themes, it can wait.  I will move the milestone since it is low priority.

If there is any way for you to conditionally show my name, only when coverage is at 100%, it would be appreciated :-)

[2019-09-05 16:29] jlperla opened #676 "Move the primary source for binder stuff into the lecture-source, and have the sphinx copy over"

[2019-09-05 16:43] jlperla opened #677 "Create a packagecompile.jl file for internal use"
Create a file`utilities/packagecompile.jl` in the notebook repo

- [x] Put in a note on usage on the README.jl (e.g. run again after a project.toml update)
- [x] Add running it to the WSL instructions for editing
- [x] See if builds work with it running on the image

[2019-09-05 16:55] #672 closed

[2019-09-05 17:38] #677 closed

[2019-09-05 17:45] arnavs commented on #677
The reason this _might_ not be faster is that we have to spin up a new `IJulia` instance for each notebook. So we're paying the startup cost associated with PackageCompiler once per lecture, as far as I understand it. @mmcky, can you confirm?

[2019-09-05 20:55] arnavs commented on #634
Moving this to 1.1 since we decided to wait on Johannes.

[2019-09-05 21:04] jlperla commented on #656
Trivial fix.

[2019-09-05 21:18] jlperla commented on #670
@arnavs  One thing to check out is whether it is hideous in both jupyter notebooks and jupyterlab.

[2019-09-05 21:20] jlperla commented on #670
I can confirm on windows+chrome that the notebooks accessed from jupyterlab are messed up, while the ones in jupyter notebook are good.  There may be some workaround needed for embedding images so that jupyterlab works?  Since it is now > 1.0, it will quickly become the standard.

[2019-09-05 21:23] #656 closed

[2019-09-05 22:19] arnavs commented on #445
Moving this to testing mode. We'll see how it looks in the next hourly build.

[2019-09-05 23:43] #445 closed

[2019-09-05 23:44] arnavs commented on #670
in general, my gut is that the current HTML output is deferring to the browser on some sizing, instead of hard-coding it (cc @drdrij @mmcky)

and in some configurations the host machines are making bad choices? so if we could just box or bound these things somehow…

[2019-09-06 03:55] arnavs commented on #673
@DrDrij  said he can look at this for a bit now, and then in a few hours. ETA is 1/2 day for patching the theme.

[2019-09-06 04:09] jlperla commented on #673
Not worth patching the theme.  But is there any way to change the `display_name` and `nb_format_minor` so it has less git issues?

[2019-09-06 04:32] mmcky commented on #670
So this is a `jupyterlab` issue? My recommendation would be to edit a notebook in jupyterlab until you get the desired output and then let us know what the compatible `html` for images would be in that context.

[2019-09-06 06:39] mmcky commented on #670
just to confirm -- `jupyterlab` looks fine for me on `OS X` and `Chrome` -- so not sure what the cause for this is on windows. @jlperla is your chrome up to date on Windows by any chance?

[2019-09-06 13:32] arnavs commented on #673
Sorry @jlperla, by theme I meant `julia.tpl`, i.e. the template file we're using to generate the HTML. Not the `jupyterlab` theme.

Closing because of @DrDrij's PR in #678

[2019-09-06 13:37] jlperla commented on #673
Before this is closed, I just want to verify that this is fixed for the generated jupyter notebooks, which was the issue I raised. Ie that the kernelspec numbers in the config are set properly.

Can we check a few os to make sure the jupyter notebook doesn't trigger a git diff after executing a cell that doesn't change any output? I will do on windows jupyter and jupyterlab

[2019-09-06 13:51] arnavs commented on #673
OK. Before you do that, let me change the info back in `conf.py`, since we can now safely do that without side-effects on the website.

[2019-09-06 13:53] jlperla commented on #673
Of course, just test it on your side, and tell me when to test a generated notebook.

Actually, maybe best to forward a generated notebook to me (the introductory examples is a good one) so we don't need to mess with the main repo.

[2019-09-06 13:55] arnavs commented on #673
Sounds good, I sent one to you on Slack.

[2019-09-07 04:07] jlperla commented on #670
Yes.  But just to confirm, this is an old and recurring issue.  We had issues with it before, but I think we hacked it by just tweaking the scale (if I recall).  @arnavs  do you remember?  It is very possible that this lecture never looked good on windows chrome with jupyterlab

The reason it is coming to a head now is that: jupyterlab is released, so it is a reasonable default.  We edited the lec

[2019-09-07 13:49] jlperla commented on #634
With this fixed, lets test and see if we can get this and the dataframes stuff bumped up, and turn in back on in the lecture notes. I would love to teach with FixedEffectsModels and this in a few weeks.

[2019-09-07 22:14] arnavs commented on #634
Sounds good. Will do as soon as Johannes tags a release. Which should be soon, since I think the FixedEffects upgrade is fairly minor.

[2019-09-08 15:41] jlperla opened #679 "Comment out docker stuff until WSL supports it"
This is in the tools lecture. It is likely references somewhere else in the intro

[2019-09-09 00:12] arnavs commented on #670
Yeah, we fixed this in a hacky by using the `:scale:` directive or something.

@jlperla That is very useful information.

@AakashGfude See above. Basically, the distortion is one direction (`height`), and the problem disappears if we set that to `auto` instead of `100%` along with the scale. I think it's now a raw Jupinx problem (i.e., what `style` metadata are we associating with image RST?)

[2019-09-09 01:32] mmcky commented on #670
thanks @jlperla @arnavs. The `html` code is super helpful. We can certainly change the way `html` links are written to the notebook to use `auto`. @AakashGfude can you take a look at the `html` and let me know what is the most `web` compliant way to build these scale parameters. Is there a compatibility checker for browsers out there?

[2019-09-09 02:57] arnavs opened #680 "Get to 100% Test Coverage"
There's some issue with the `lake_model` regression tests (still!) that is keeping us at 98%.

[2019-09-09 03:01] arnavs commented on #674
This is a one-liner, so I went ahead and fixed it. See above commit.

[2019-09-09 03:01] #674 closed

[2019-09-09 17:19] arnavs commented on #634
@jlperla I'm closing this because #681 looked good.

[2019-09-09 17:19] #634 closed

[2019-09-10 01:44] AakashGfude commented on #670
`height:auto` and `width:percentage` seems to be a good web compliant way to do this, unless we want full control of how height is scaled.
If height: auto; the element will automatically adjust its height to allow its content to be displayed correctly.  So, good enough for us.
Have adjusted this property of `scale` to leave height as `auto` in this [branch](https://github.com/QuantEcon/sphinxcontr

[2019-09-10 02:02] mmcky commented on #670
@AakashGfude out of interested how does `sphinx` `html` writer handle `:scale:`

[2019-09-10 02:08] AakashGfude commented on #670
@mmcky it handles it the same way as was implemented by us before :- adjusts both the `height` and `width` percentages. it is implemented in docutils though - http://docutils.sourceforge.net/docs/ref/rst/directives.html#image

[2019-09-10 02:10] mmcky commented on #670
thanks @AakashGfude. My only concern with adding `auto` is it technically will no longer be a `:scale:` setting but rather essentially a width setting. Perhaps we should just change the `RST` to use `:width:` rather than `:scale:`?

[2019-09-10 02:19] AakashGfude commented on #670
@mmcky you are right. `height:auto` turns out to be a default setting anyways. The only advantage of having explicit `height:auto` is to override any style which might have been propagated from some class or file.

[2019-09-10 02:24] mmcky commented on #670
@jlperla perhaps we can update the RST to use the `:width:` scaling option as that is your preferred setting? FYI - On the `py` side we have gotten rid of most `:scale:` calls in favour of having natively sized `static` files as sources that don't required resizing.

[2019-09-12 04:32] jlperla opened #683 "Add jupyterlab extensions to to installation instructions and hubs"
Subset of #653

On a desktop, you may need node installed if you aren't using anaconda?
[code]
And to install
[code]
Can this stuff be done within julia miniconda?  Dunno.

[2019-09-12 19:05] jlperla opened #684 "Math display typo in /more_julia/optimization_solver_packages.rst"
See
![image](https://user-images.githubusercontent.com/13106721/64813141-8746a080-d555-11e9-963b-902d884de4e1.png)

[2019-09-12 19:24] jlperla opened #685 "Add packages for matrix-free, iterative, etc. lectures"
After we bump plots, also try
[code]
See what the coverage looks like, and if we have regressions.

[2019-09-12 21:01] #685 closed, assigned to arnavs

[2019-09-13 16:30] #680 closed

[2019-09-13 16:38] jlperla opened #686 "Scan and fix all deprecations if possible"
i.e. other than downstream packages which are not our fault.

[2019-09-13 17:25] jlperla commented on #440
@arnavs  I will hand this back to you.  I like your text for this.

[2019-09-13 17:26] jlperla commented on #440
Oops, it is already done!  Closing.

[2019-09-13 17:26] #440 closed

[2019-09-13 17:40] arnavs commented on #670
Closing this since I think switching over to the `:width:` directive did the trick.

[2019-09-13 17:40] #670 closed

[2019-09-13 17:45] arnavs commented on #686
@jlperla We have four of them (total) spread out amongst a few packages in data and statistics. Nothing serious in terms of presentation, but they're all to do with downstream packages.

The warning is:

[code]

etc.

[2019-09-13 17:45] #686 closed

[2019-09-13 17:50] #684 closed

[2019-09-13 17:51] arnavs commented on #684
@jlperla Was able to fix in this case by truncating the text mode. But I think this is a fundamental flaw in RST--- you can't have a math block, then have a `\text{}`, then do math inside of that text.

[2019-09-13 17:56] #679 closed

[2019-09-13 17:57] arnavs commented on #633
We closed this with the switch to `fillrange`.

[2019-09-13 17:57] #633 closed

[2019-09-13 18:09] jlperla commented on #665
Handing #687 over to you for checking.  Merge after you make sure I didn't make any mistakes.

[2019-09-13 18:11] jlperla commented on #673
You can do a final verification, but I believe it is fixed after looking at the JSON

[2019-09-13 18:28] arnavs commented on #671
Looks like Jupinx fix doesn't work inside code formatting in text blocks. Short term fix is to go out of code formatting and escape normally.

Moving this to 1.1 and raising an issue in Jupinx.

[2019-09-13 18:34] arnavs commented on #673
Yep, looks good to me.

[2019-09-13 18:34] #673 closed

[2019-09-13 18:40] arnavs commented on #665
Closing since we merged #687

[2019-09-13 18:40] #665 closed

[2019-09-13 18:41] jlperla commented on #425
See #688   @arnavs  handing over to for a sanity check.  If it passes coverage without errors, we should be good.

[2019-09-13 18:44] arnavs commented on #425
Closing per #688

[2019-09-13 18:44] #425 closed

[2019-09-13 19:49] #653 closed

[2019-09-13 20:23] arnavs commented on #683
@jlperla Just to confirm, at this point we are only installing this stuff? Or do you also want me to try plugging it into the actual hub

[2019-09-13 20:38] arnavs commented on #683
OK, seems to work out of the box. I've added it to the hubs.

Renaming this and moving to `1.2` (just a guess) for when we are ready to put this in the instructions.

[2019-09-15 14:03] jlperla opened #691 "Launch of 1.0.2 on jupyerhubs and live site"
@arnavs  This is just to keep track of the launch steps, as they have gotten a little trickier recently.
I added https://github.com/QuantEcon/lecture-source-jl/pull/690 which you can edit to keep track of typical steps.  There are a few extra ones this time due to the juptyerlab extensions and datascience setup.  Make sure not to put anything in the steps that a hacker could use to attack us :-)

[2019-09-16 20:18] #691 closed

[2019-09-20 19:17] jlperla opened #698 "Math display typo in orthogonal projections"
See
![image](https://user-images.githubusercontent.com/13106721/65352904-a91cd480-dba0-11e9-9ef6-c47b9835a6d2.png)

[2019-09-25 15:03] arnavs opened #705 "Add Symlink to Local Setup Instructions"
*NIX users should probably run `ln -fs path/to/julia/executable /usr/local/bin/julia`, so that they can run `julia` from the terminal. (Or maybe just install using Homebrew on Mac.)

Instructions are on the julialang.org downloads page.

[2019-09-26 05:18] mmcky opened #708 "Figures :width: attribute need to use %"
@arnavs I think the figures using `:width:` need a %

http://docutils.sourceforge.net/docs/ref/rst/directives.html#image

The `:scale:` indicates it is optional but the `:width:` take integer or percentage

[code]

should be

[code]

[2019-09-26 05:52] arnavs commented on #708
Thanks @mmcky, will go through and fix these tomorrow.

[2019-09-26 05:55] arnavs commented on #538
@jlperla I'm modifying this issue because of what you wrote at https://github.com/QuantEcon/lecture-source-jl/pull/693.

[2019-09-26 18:29] arnavs commented on #708
@mmcky Can you point to where you see the bad syntax? Just did a quick global search through the lectures and it looks like we are using the `%`.

[2019-09-26 18:30] #708 closed

[2019-09-26 18:36] #698 closed

[2019-09-26 18:38] arnavs commented on #669
@mmcky Can we do this now?

[2019-09-26 19:05] jlperla opened #710 "Issue with unicode and the linear algebra WIP"
[code]

[2019-09-26 19:21] arnavs commented on #710
@jlperla Looks like this is a Windows console error and not a function of the PR. See: https://stackoverflow.com/a/28041598.

I will try it on my Windows machine and get back to you.

[2019-09-26 19:22] jlperla commented on #710
OH great, then all good.

[2019-09-26 20:49] arnavs commented on #615
This is done in the lectures (we have a note saying `] add InstantiateFromURL` as required, and the rest comes from that package.)

[2019-09-26 20:49] #615 closed

[2019-09-26 20:51] arnavs opened #711 "Document ] preview"
From package docs:

[code]

[2019-09-26 20:58] arnavs commented on #662
@jlperla This one is a bit complicated, since `--local` puts it in a `dev` folder under the current Julia project. So if I navigate to a folder, fire up a REPL, and `] dev --local SomePackage`, it won't do anything without `] activate .`

Probably a better workflow is to `git clone` a package, cd to that (or open it in GitHub desktop/Atom or something), and run `] dev .`

Let me know what your tho

[2019-09-26 21:07] arnavs commented on #594
Just tested this and it works. We add `&depth=1` to the end of the URL.

[2019-09-26 21:07] #594 closed

[2019-09-26 21:11] arnavs commented on #614
Added this to the troubleshooting section of the lecture in the `various-fixes` branch.

[2019-09-26 21:11] #614 closed

[2019-09-26 21:14] jlperla commented on #662
Closing then.  The way we have it now is cleaner than that.

[2019-09-26 21:14] #662 closed

[2019-09-26 21:14] jlperla commented on #594
SHould we add this to the launch bar?  @cc7768  @sglyon  lets discuss at some point.

[2019-09-26 21:16] arnavs commented on #594
The `nbgitpuller` docs recommend only adding it if we see performance hits, and the full clone is fairly quick (at least on the VSE jupyterhub, where I tested this.)

That said, I don't see the harm in it.

[2019-09-26 21:23] arnavs commented on #556
Issue is obsolete.

[2019-09-26 21:27] jlperla commented on #556
Why is it obsolete?

[2019-09-26 21:28] jlperla commented on #594
OK, lets hold off then.

[2019-09-26 21:44] arnavs commented on #556
I thought we decided not to put in VS Code instructions. Maybe I'm hallucinating, though.

[2019-09-26 21:51] jlperla commented on #556
This is a 1.2 issue, not a 1.03 or even 1.1

[2019-09-27 15:37] #711 closed

[2019-09-27 16:51] #705 closed

[2019-09-29 16:05] arnavs commented on #710
Closing this as it won't affect what's on the site or notebooks, and isn't fatal for the build process.

[2019-09-29 16:05] #710 closed

[2019-10-01 05:03] AakashGfude opened #730 "BUG: Link to Python lectures missing in about_lectures"
The julia rst file `about_lectures.rst` does not have a link to Python lectures.
[code]

[2019-10-01 17:01] arnavs opened #731 "Update Troubleshooting Page"
e.g. https://julia.quantecon.org/troubleshooting.html

These are Python-specific for now, but should be changed for Julia.

[2019-10-01 19:01] jlperla commented on #731
@arnavs  Can you do a minimalist version for now?

Maybe just start by removing the python content, having the "local setup" guide point towards the installation steps, and maybe a suggestion to delete the `.julia` and follow the package setup again.

Also, add in a jupyterhub help telling people how to reset the environment to the latest sets of notes.  i.e. remove a single notebook and then clic

[2019-10-03 01:45] mmcky commented on #731
thanks @arnavs just about to open an issue.

[2019-10-04 04:26] #731 closed

[2019-10-15 22:24] jlperla opened #763 "Add link to MKL.jl as an optional setup step"

[2019-10-15 22:24] #470 closed

[2019-10-15 23:21] arnavs commented on #763
- [ ] Adjust tolerance on the failing unit test in `perm_income` once this is done, so that the check passes in both MKL + non-MKL setups.

[2019-10-15 23:26] jlperla opened #764 "Add notes on File IO"
Tell people to always use the continuation style (i.e. `open(bla) do f .... end`)

Also, figure out the story with Parquet/etc.

[2019-10-28 15:30] arnavs opened #773 "Linkchecker"
[linkcheck-julia-broken-lecture-source-jl (1).txt](https://github.com/QuantEcon/lecture-source-jl/files/3779403/linkcheck-julia-broken-lecture-source-jl.1.txt)

[2019-10-28 17:08] jlperla opened #774 "Change PkgTemplates settings to include Manifest in the documentation"

[2019-10-28 17:47] #773 closed

[2019-10-28 23:13] #774 closed

[2019-10-28 23:13] arnavs commented on #774
Done.

[2019-11-12 17:36] #730 closed

[2019-11-12 17:36] arnavs commented on #730
Thanks @AakashGfude, now fixed.

[2019-11-12 17:39] arnavs commented on #669
Assuming this is obsolete now that we've moved to `julia.quantecon.org` and `python.quantecon.org`. But we can re-open if not.

[2019-11-12 17:39] #669 closed

[2019-11-12 18:14] #505 closed

[2019-11-26 16:37] jlperla opened #782 "Update to new PkgTemplates callable UI"

[2019-11-26 16:37] jlperla opened #783 "Update to github actions as CI solution"
Make sure done in conjunction with #782

[2019-11-26 17:51] arnavs commented on #782
Can you link to the UI?

[2019-11-26 18:22] jlperla commented on #782
This is down the road, I just didn't want to forget.  We will let thing stabilize.

[2019-11-26 22:16] jlperla opened #784 "Run regression test on Julia 1.3"
We should wait before updating kernels/etc., but it would be nice to know if tehre are regressions.

[2019-11-27 00:13] TAGElena opened #785 "Plot in Lecture Job Search I: The McCall Search Model"
I believe there could be an error on the first graph of the Lecture; the current plot might not be showing the true distribution of wages that the model is using.

When we later compute the expectation of the distribution we obtain a value of 43.33, yet the current (symmetric) plot would indicate the expected wage should be around 35. I believe the following alternative plot represents the true wa

[2019-11-27 00:15] jlperla commented on #785
@TAGElena Thanks so much.  We will analyze.  @arnavs  Can you investigate?

[2019-11-27 17:25] arnavs commented on #785
Thanks @TAGElena for the good catch. We definitely need to make this clearer.

The difference is because the support of the wage distribution is `[10, 60]`, but the support object spit back by Julia (which is what gets plotted, etc.) is a vector of indices. That is:

[code]

I will update the plotting code to what you describe here. And that should make the plot match reality.

[2019-11-27 17:25] #785 closed

[2019-11-27 18:18] jlperla opened #787 "Add in pgfplots (or probably pgfplotsx) as a backend to plots"
When this stuff is ready, we can show how to get production quality stuff with latex.  But lets make sure it works as a `Plots` backend first.

[2019-11-27 18:19] jlperla opened #788 "Add in github actions latex build as well"
In conjunction with #783

[2019-11-29 19:42] jlperla opened #790 "Add settings threads to setup instructions of Julia in move to v1.3"
I think that Atom may have good defaults, but what about the desktop/jupyter/etc?  Have an environment variable set in the installation instructions.

[2019-11-29 21:31] arnavs commented on #784
Results attached. Looks pretty good... maybe a lecture or two with an error? We can sort it out.

[code-execution-results.json.txt](https://github.com/QuantEcon/lecture-source-jl/files/3906407/code-execution-results.json.txt)

[2019-11-29 21:31] #784 closed

[2019-12-12 21:59] arnavs opened #791 "Explore PackageCompilerX"
It looks like Kristoffer has created https://github.com/KristofferC/PackageCompilerX.jl (in the same naming spirit as PGFPlotsX).

Whatever he touches turns to gold, so I'm cautiously optimistic that things may be better this time around...

[2019-12-12 23:35] jlperla commented on #791
I am more than cautiously optimistic whenever Kristoffer and Tim Holy are involved!

I believe that it will be used in conjunction with https://github.com/timholy/SnoopCompile.jl/  and generated snooping for each package (https://github.com/timholy/SnoopCompile.jl/pull/49 ) is going to happen.

But lets give this a month or so to settle down and figure out what is happening.

[2019-12-12 23:45] arnavs commented on #791
Always happy to hold off whenever PackageCompiler is involved...

I'll add this to the appropriately distant milestone.

[2020-01-10 18:00] arnavs opened #792 "Numerical Linear Algebra"
@jlperla I had a look at the linear algebra stuff. Two things:

1. The text is definitely English, but very information-dense... I think it would benefit from a copy-editing pass. Could probably hire Katherine (our editor from datascience) to do it for a small sum, or I can get to it when I have some downtime.

2. We only use the `OrdinaryDiffEq` stuff in one cell (the last one in sparsity.) I'm p

[2020-01-10 18:39] jlperla commented on #792
OK, perfect.  I will think about the right timing of the copy editing.  My main quetsion was whether it is close to being ready to hand off to a copy editor, or if the text is not ready even for that.

My hope is that we can move towards more continuous time solutions over the next few years, so I don't have an issue with adding ther OrdinaryDiffEq (note, *not* the whole DiffEq).

Can you try this

[2020-01-10 18:49] arnavs commented on #792
I guess it's not terrible actually. And some of these packages are worthwhile in their own right, perhaps for later lectures (i.e., `ModelingToolkit`).

Well, we can decide later.

[code]

[2020-01-10 18:55] jlperla commented on #792
Lets do it then.  It would be great to have a clean manifest where we can start to do continuous-time stuff off of.  We can prepare a Julia v1.3 release which has a manifest that "can work" with these new lectures, which makes it much easier to push them up later.

[2020-01-14 18:10] arnavs opened #793 "Package Lecture Link"
Andrew shared his blog post with me: https://aaowens.github.io/2020/01/13/A-Newcomers-Guide-to-the-Julia-Package-Manager.html

Add it to the package lecture sometime.

Also maybe the `project!"foo"` and `manifest!"foo"` features from PkgUtils. Copy/pasting those files into a script so they can be run anywhere.

[2020-01-20 04:30] jlperla commented on #763
There are now some PackageCompiler deployment issues.  Suspect PackageCompilerX is needed before it is fully solid.

[2020-01-20 04:37] jlperla opened #794 "Adjust the Atom troubleshooting stuff if `apm` is not in the path"
https://julia.quantecon.org/more_julia/tools_editors.html#Troubleshooting

- [x] If not on path, then on powershell
[code]
  - To go to something like `C:\Users\USERNAME\AppData\Local\atom\bin`
  - Then occasionally
[code]
- [x] Also, how to update a new julia version:
  - `] build IJulia`
  - update the bin in Atom
- [x] Add links to this stuff to the general Troubleshooting in https://julia.quan

[2020-02-21 16:06] arnavs opened #797 "Plots in Data Statistics"
One or two of these is displaying an additional error output. Figure out what's going on.

[2020-03-04 17:27] jlperla opened #799 "Fix Julia PDF export issues."
It seems like the Julia PDF output is broken.  If you click on https://julia.quantecon.org/  and choose the PDF you will see it stops at the end of the "SOLVERS, OPTIMIZERS, AND AUTOMATIC DIFFERENTIATION" lecture.

Can you try to see what may have gone wrong here?  My guess is that there is a bug in generating a PDF output from a lecture that it can't merge.... which one?  Maybe which ever one com

[2020-03-04 17:34] jlperla opened #800 "Link to this in the github section"
https://github.com/mikecroucher/Git_Academic_Benefits

[2020-03-10 00:16] jlperla opened #802 "Remove line linking to juliabox"
https://julia.quantecon.org/getting_started_julia/getting_started.html

[2020-03-25 19:56] arnavs opened #803 "Try Julia 1.4"
Can run coverage, just as before.

If it works, we can bump the syzygy versions, update the notebooks repo, etc.

But no rush on this... it may even be better to simply wait until 1.4.1, or something like that.

[2020-03-26 19:08] arnavs commented on #803
Here is the data.

[Archive.zip](https://github.com/QuantEcon/lecture-source-jl/files/4389415/Archive.zip)

[2020-04-04 22:36] JackRab opened #804 "One typo in the need for speed"
In the subsection *Composite Types with Abstract Field Types* under the section **Fast and Slow Julia Code** of [The need for speed](https://julia.quantecon.org/more_julia/need_for_speed.htm), there is one sentence saying

should it be

[2020-04-06 00:11] jlperla commented on #804
Thank you so much!  That whole lecture needs some revisiting in the next version or two.

[2020-04-09 15:22] arnavs commented on #803
Coverage with updated manifest, from yesterday's trial. A few issues to sort out.

[reports.zip](https://github.com/QuantEcon/lecture-source-jl/files/4457057/reports.zip)

[2020-04-09 22:50] #794 closed

[2020-04-09 22:55] #799 closed

[2020-04-10 01:37] arnavs commented on #804
Thanks @JackRab, just fixed this.

Hope you enjoyed the lecture.

[2020-04-10 01:37] #804 closed

[2020-04-10 02:09] JackRab commented on #804
Thank a lot for your work.

[2020-04-10 05:17] mmcky commented on #799
@jlperla is this recent or was this the issue raised when the `pdf` broke previously?

[2020-04-10 05:29] jlperla commented on #799
I think it is old. Looked good when I took a look today

[2020-04-10 14:59] jlperla opened #806 "Colab integration"
Some links:
- https://github.com/Dsantra92/Julia-on-Colab
- https://gist.github.com/yiyuezhuo/91ac12cf8caa28b2776f19a9fa58d031
- https://www.youtube.com/watch?v=xpZo3L2dYTY

- In principle, should only need to do something
[code]
or
[code]
And then "refresh" the window.  But getting the notebook to match the kernelspec might be needed.

Note that the URL also works, so maybe we could get people to

[2020-04-22 17:59] jlperla opened #808 "Recommend installing Atom/Juno with `--project` in the startup settings"
[code]

[2020-04-23 05:12] jlperla commented on #808
Turns out to be a bad idea for the current Juno design.

[2020-04-26 18:57] jlperla commented on #808
Actually, dissenters think it might be.

[2020-04-26 18:58] jlperla opened #809 "Vegalite warnings in in data_statistical_packages"
[code]

[2020-04-26 19:28] jlperla opened #810 "Integrate github action PR builds when it is ready"
For each PR we have been able to get:

1. execution checks on PR for all code in changed RST documents
2. link check of all links
3. html previews

@mmcky   Sounds great.  For the execution checks, will it do the "unit tests" stuff?

[2020-04-28 16:06] jlperla opened #811 "Add timer outputs to performance notes?"
https://github.com/KristofferC/TimerOutputs.jl

[2020-04-28 16:12] jlperla commented on #806
Strategy would be a post-processing script to add an installation instructions/cell and potentially change the jupyter kernel stuff.

Might also make sense to remove the `InstantiateFromURL` and tell people to manually install...

[2020-05-08 16:23] #648 closed

[2020-05-08 16:24] #628 closed

[2020-05-08 16:40] jlperla opened #814 "Remove text/reference to DataVoyager"
Not worth the trouble, and looks like microsoft is up to some even cooler stuff.

[2020-05-08 16:41] #666 closed

[2020-05-08 16:43] #814 closed

[2020-05-08 16:45] #802 closed

[2020-05-08 16:45] jlperla opened #817 "Package changes"
First do #814

Package Changes:
- Add https://github.com/KristofferC/TimerOutputs.jl
- Remove DataVoyager
- update, resolve, etc.
- cross fingers

[2020-05-08 16:49] jlperla commented on #809
this might be a case where we just want to use that jupinx tag to prune the output text if it is easy?

[2020-05-08 16:51] jlperla opened #818 "Transition to github actions instead of travis"
And update the PkgTemplates steps in https://julia.quantecon.org/more_julia/testing.html accordingly.

[2020-05-08 16:55] jlperla commented on #782
Looks like it isn't released yet, so lets wait.

[2020-05-08 16:56] jlperla commented on #818
Will wait until the latest PkgTemplates is released, as they had plenty of changes.

[2020-05-08 16:57] jlperla opened #819 "Remove the quantecon syzygy to focus on colab if it is usable"

[2020-05-08 17:05] #817 closed

[2020-05-08 18:08] arnavs commented on #806
Seems to work, but getting the notebook's kernelspec to match before you upload is essential. Also switched to 1.4.1, which came out recently.

I'm able to install `CuArrays` and reproduce his results.

The first time you actually use the GPU it will download a bunch of binary crap.

I used the `%%shell`-style script.

The GPU they give us is:
[code]

[2020-05-08 23:07] #809 closed

[2020-05-10 04:52] jlperla commented on #806
OK, @arnavs  sounds like we basically have 2 choices here.  In both cases, we wuold generate a set of notebooks with a patch on the existing ones to add in the colab installation... and we can make sure to setup the jupyter kernelspec to precisely match.

Also, in both cases we take the generated notebooks and find the generated output matching the
[code]
cell a replace it with two cells.  In the

[2020-05-10 15:24] jlperla opened #821 "Iterate on release steps for the full deployment process after colab/etc. is done"
Thinks like how to initiate a preview/etc.   Will walk through this carefully with @ajozefiak  and me so that the two of us could do it as required.

Several variations:
1. A patch to the website, not worth pushing out notebooks
2. A change to the website and both notebook repositories, but not worth bumping package versions
3. A full package bump with the full notebook deployments

See my changes

[2020-05-10 15:25] jlperla opened #822 "Update on the editor setup and WSL setup"
I made a few changes to the README.md.

We want to make sure that @ajozefiak  and I can both edit this in WSL following the instructions.  After you guys get it up and running with the exact setup instructions, I will give it a try.

[2020-05-10 15:28] jlperla opened #823 "Remove the startup.jl file and suggestion in the instructions"
I think this stuff has changes sufficiently that we don't want it in the instructions?

See https://github.com/QuantEcon/lecture-source-jl/blob/master/source/_static/includes/startup.jl

and the text in
https://github.com/QuantEcon/lecture-source-jl/blob/2b64a9146c6e8ac40a651473600ff7cd51fdb0dc/source/rst/more_julia/tools_editors.rst#L32
and
https://github.com/QuantEcon/lecture-source-jl/blob/0f5a

[2020-05-10 15:31] jlperla opened #824 "Python script for notebook colab updates"
We want to have a script to generate colab notebook modficiations as part of the build process.  It would operate on the full notebook downloads as a post-processing step.

Seems like loading each notebook with https://nbformat.readthedocs.io/en/latest/api.html and then adding in the cells at the beignning is the key?

If so, we can add in new literals in https://github.com/QuantEcon/lecture-sourc

[2020-05-10 15:32] jlperla commented on #824
@mmcky  I will add you here for any discussions after we figure out the cells we want.  Do you want this to run on your build server or something that we do as part of a manual step in the deployment process?

[2020-05-11 00:34] mmcky commented on #824
@jlperla for sure. I have reduced notifications from github now to just mentions -- so thanks for tagging me. Please continue to do so if you need my attention on something.

[2020-05-11 00:34] mmcky commented on #824
Writing a post-build script is the way forward to get this implemented (in a timely fashion) I think.

[2020-05-11 06:00] jlperla opened #825 "Add precompile = true to setup instructions where appropriate"
https://github.com/QuantEcon/lecture-source-jl/edit/master/source/rst/getting_started_julia/getting_started.rst  for  sure

[2020-05-11 06:01] jlperla commented on #825
Required if changing to `precompile = false` default.

[2020-05-11 06:02] jlperla commented on #824
@arnavs  I noticed that https://github.com/QuantEcon/lecture-source-jl/blob/dca432e33dade36da31546c8fce8f8b4bedc3aca/util/execute_nb.py  has a structure that might be copyable?

[2020-05-11 15:59] jlperla commented on #806
@arnavs  I created https://github.com/QuantEcon/quantecon-notebooks-julia-colab for the notebook repo we would push to... regardless of the approach.

[2020-05-11 16:01] jlperla opened #826 "Update colab launcher for new repo"
Should point at https://github.com/QuantEcon/quantecon-notebooks-julia-colab instead for the colab notebook lauches.

[2020-05-11 22:05] jlperla opened #827 "Remove unused utiltities/etc.?"
- Maybe everything in https://github.com/QuantEcon/lecture-source-jl/tree/master/util
I think that `.md ` is now in the `RELEASE.md` or soemthing like that instead.

Look for other garbage we can remove as well.  When this all gets ported to jupyterbook at some point, unused files are going to be very confusing.

[2020-05-11 22:50] jlperla opened #828 "Port the covid lecture to julia"
https://python.quantecon.org/sir_model.html

This would use the DIffEq features.  At some point in the future it might be near to look at it for SDE or DiffEqFlux examples.

[2020-05-11 23:16] jlperla opened #829 "Minimal theme merge?"
See #771

[2020-05-11 23:23] arnavs commented on #821
In the short run, @mmcky could you give @ajozefiak access to the QuantEcon.AWS.Admin repo? It looks like he will be working with Jesse on this stuff after I leave UBC in a few weeks.

[2020-05-11 23:24] #803 closed

[2020-05-11 23:24] jlperla commented on #821
@arnavs @mmcky  Lets coordinate this a little later and figure out exactly what we need to do (so I can do things as well)!

[2020-05-11 23:26] mmcky commented on #821
I also need to update the `QuantEcon.userguide` which documents our setup etc.

[2020-05-12 15:13] jlperla commented on #792
See #830

[2020-05-12 15:16] jlperla opened #831 "Sphinx duplicate target warnings on build"
I had the following on a fresh build
[code]

[2020-05-12 15:31] jlperla opened #832 "Verify that we can now use unicode in GR-based labels, etc. with Plots"
The latest versions of GR might support using unicode labels.  If so, we can slowly make transitions towards those.

But first lets verify that it is true in the whole pipeline.

Maybe on https://julia.quantecon.org/getting_started_julia/julia_by_example.html#A-Slightly-More-Useful-Function  and see if something like the following works:
[code]
By works I mean that (1) the HTML that is generated b

[2020-05-13 00:18] jlperla commented on #808
Messes up reinstallations...

[2020-05-13 00:18] #808 closed

[2020-05-13 05:31] jlperla commented on #832
Verified

[2020-05-13 05:31] #832 closed

[2020-05-14 14:59] jlperla opened #834 "Add notes on github tricks for workflow (post vscodepocolypse)"
Might want to focus on vscode extension, etc. and wait until we have pushed that GUI more.

Show the idea of an issue associated with a PR.
Create issues that would have a coherent self of changes associated with it, so all branches are easy to track.

Also, describe rebasing onto master and merge conflicts.  But if you don't have PRs open too long, it genreally isn't a problem.  Point to merge-co

[2020-05-14 17:46] #797 closed

[2020-05-14 20:43] arnavs commented on #826
Link generation from this is good.

[2020-05-14 20:43] #826 closed

[2020-05-14 20:47] arnavs commented on #825
This was done. Fixed in the two places in that lecture and added the option to the commented-out section of the include script, along with a comment of what it does.

[2020-05-14 20:47] #825 closed

[2020-05-14 21:01] arnavs commented on #824
@mmcky I think I'm ready to pick your brain about the pre-processing step to inject cells into the notebook. Let me know when you're around.

[2020-05-14 21:05] arnavs commented on #806
Closing this as we have more specific issues and we decided on the `precompile = false` setup with InstantiateFromURL as the approach.

[2020-05-14 21:05] #806 closed

[2020-05-14 21:07] jlperla commented on #819
Let's leave this issue, assigned to me, as a final cleanup step. This means the syzygy quantecon hub as well, which is the last thing to turn off

[2020-05-14 21:56] arnavs commented on #824
This is done and tested.

[2020-05-14 21:56] #824 closed

[2020-05-15 13:25] jlperla opened #836 "Add precompiling some key packages to colab to increase perceived speed"
We can't precompile everything, but it might help to precompile the most commonly used packages?  Maybe try changing https://github.com/QuantEcon/lecture-source-jl/blob/master/source/_static/includes/colab_code_cell.txt  to soemthing like
[code]
Alternatively you could have another line there where you run julia with `julia --project=@. -e 'using Plots, Distributions, Parameters, NLsolve, ForwardD

[2020-05-15 16:29] arnavs opened #838 "Delete VSE Syzygy from the List"
All good things come to an end.

[2020-05-15 16:34] #838 closed

[2020-05-15 22:19] jlperla commented on #828
[code]
And see https://aip.scitation.org/doi/10.1063/1.481811
and https://docs.sciml.ai/latest/tutorials/sde_example/#Example-4:-Systems-of-SDEs-with-Non-Diagonal-Noise-1
and point people to https://github.com/epirecipes/sir-julia

[2020-05-15 22:36] arnavs commented on #836
This should be closed, I tried it and worked well.

[2020-05-15 22:36] #836 closed

[2020-05-16 21:10] jlperla opened #841 "Fix packages for pdf build"
This is a placeholder issue for fixing the pdf .  It sounds like there may be issues with the packages/etc. used by the pdf build?  @mmcky  @arnavs

If there is a manual step we need to do to upgrade Julia and/or packages on the build server, this might not be the worst time to document it.

[2020-05-16 21:13] jlperla opened #842 "Fix font/latex pipeline to support more unicode"
I noticed that whatever font is being used for the pdf building is not supporting some of the key unicode characters we have used.  For example, `w̄ ` is used in the McCall lecture extensively.

Typically this is fixed by moving to xelatex (if it isn't already there) or picking a font with better unicode coverage.  @mmcky   FYI.  Especially if you are designing the pdf support for jupyterbook.  Mi

[2020-05-16 21:19] jlperla opened #843 "Upgrade everything to Julia 1.4.2 and document steps to upgrade a julia version"
Put this in the `RELEASE.md` file.

Some of the ones I know about are:
- Changing the kernelspec in https://github.com/QuantEcon/lecture-source-jl/blob/master/conf.py
- Changing the colab in https://github.com/QuantEcon/lecture-source-jl/blob/master/source/_static/includes/colab_code_cell.txt

Now what do we do on the build servers?  And do we need to do something weird with the pdf builds?

Basic

[2020-05-18 00:31] mmcky commented on #841
I have removed `jupyterpdf` to initiate a clean build on the build instance for the `pdf` -- hopefully this was a cache issue given `html` outputs seems ok.

[2020-05-18 01:26] mmcky commented on #841
@arnavs @jlperla here is the latest `clean` run of `pdf` for `julia`

http://preview.julia.quantecon.org.s3-website-ap-southeast-2.amazonaws.com/_downloads/pdf/quantitative_economics_with_julia.pdf

Would you mind to review?

[2020-05-18 13:28] #209 closed

[2020-05-18 13:30] jlperla opened #846 "A few clarifications on multiplying by adjoints"

[2020-05-18 14:15] #846 closed

[2020-05-18 15:13] jlperla commented on #842
@mmcky  In the latest pdf build, this glyph is still missing.  See page 411 for example.

This is almost certainly a font choice issue. Note https://tex.stackexchange.com/questions/422039/best-unicode-font-to-work-with-minted-in-xelatex-lualatex  might provide some ideas.

Am I correct in thinking you are using liberation mono?  If so, then maybe something in the DejaVu family could be better? Thi

[2020-05-18 15:18] jlperla commented on #842
Also, the `\cdot` used for inner products is missing as well.  You will see this on page 150 of your current build.  This font doesn't seem to have very good unicode coverage

[2020-05-18 15:24] jlperla opened #849 "Plots not showing in the pdf build"
@mmcky  Found another PDF issue in what you showed me.  None of the plots seem to be showing inline?

[2020-05-18 15:26] jlperla commented on #841
@mmcky The immediate issue that we were trying to solve seemed to be fixed.  The error no longer appears, so I will close this issue.

However, note #849 suggests something else happened with the backend when it comes to the plotting packages.

[2020-05-18 15:26] #841 closed

[2020-05-18 20:46] jlperla opened #851 "Width of instantiate cell added scrollbars again"
The "precompile" pushed it over the edge

[2020-05-18 23:16] mmcky commented on #842
thanks for the specific examples @jlperla -- that's a big help.

@AakashGfude have we had issues with these characters before? The `julia` pdf is building in the same context as the `python` one so our previous issues with fonts shouldn't be the same right?.

[2020-05-18 23:18] mmcky commented on #849
Is the `Plots` package loading? Is there a reference to an example. With `inline` do you mean in the text and loaded from files (or generated plots after code blocks)?

[2020-05-18 23:20] jlperla commented on #849
Sorry, what I mean is that it isn't showing them in the PDF as embedded images (as it normally would).  I noticed this with both vegalite.jl and plots.jl, so it might not be specific to a single package.

[2020-05-18 23:28] mmcky commented on #849
@AakashGfude there doesn't seem to be any plots in the `julia` pdf files that are being generated. Any ideas?

[2020-05-19 16:36] #851 closed

[2020-05-19 16:38] #192 closed

[2020-05-19 17:00] #829 closed

[2020-05-19 17:03] arnavs opened #854 "Theme Assets"
In #771 it looked like there were a few missing QE icons.

Not a huge issue since it is for local builds and we mainly care about how the lectures themselves look, but we should add them back in.

cc @DrDrij

[2020-05-19 20:54] #792 closed

[2020-05-20 02:24] jlperla opened #855 "Test JuliaPro 1.4"
And either suggest using it, or remove warning about usage in the intro

@ChrisRackauckas any hints on installation?

[2020-05-20 02:25] ChrisRackauckas commented on #855
It should just work right off the bat.

[2020-05-22 15:24] jlperla opened #859 "Thoughts on covid and SciML lecture outline"
@jstac @thomassargent30  @ChrisRackauckas

Starting with the python version as a reference: https://python.quantecon.org/sir_model.html

My thought is that there could be two lectures here:
- `Modeling Covid 19/Introduction to SDEs`
- `Policy Uncertainty with Covid 19/Introduction to Scientific Machine Learning`

Here are some rough thoughts, none of which I am especially attached to.  But I think

[2020-05-23 01:42] thomassargent30 commented on #859
Jesse --

   I like what you propose both in terms of teaching about tools and applying them to a nifty class of models.  If some simple "uncertainty quantification" could be done in the spirit of
"uncertainty outside (but NOT inside) models" it could be a nice introduction to those techniques as well as a way of setting the stage for some models with uncertainty inside the models including from a

[2020-05-23 07:08] ChrisRackauckas commented on #859
Hey,

A good resource to start from as well can be the updated epirecipes https://github.com/epirecipes/sir-julia and the older version http://epirecip.es/epicookbook/chapters/sir/julia . The those show all of the models, but indeed it would be nice to use this space as a larger explanation of them. This tutorial for example (https://github.com/epirecipes/sir-julia/blob/master/markdown/rn_mtk/rn_m

[2020-05-24 07:39] jstac commented on #859
Hi all, I don't have much to add but I'm very interested.  I like the exposition that @ChrisRackauckas suggests -- continuous time MC to ODE approximation.  That sounds like a good starting point, and a form of exposition where simulation would be helpful.

I looked this stuff up before getting involved with that first SIR lecture and found it fun and interesting.  If someone else kicks off the wr

[2020-05-25 00:49] jlperla opened #860 "Check Plots Stuff"
Then we should check that notebook, HTML, and pdf all work

[2020-05-25 05:12] jlperla commented on #859
I like it.  My only concern is that since economists are so used to deterministic ODEs using large number approximations that building it up from the finite-agent approximations scratch might be too much in the same lecture as looking at  aggregate stochastic shocks.

Perhaps having splitting out a shorter continuous-time markov chain lecture makes sense?  We could take out https://julia.quantecon

[2020-05-25 05:16] jlperla commented on #854
I will close for now.  No need to worry about it prior to jupyterbook port.

[2020-05-25 05:16] #854 closed

[2020-05-25 05:17] jlperla commented on #842
I am going to close this in the interests of focus.  We can get through with the current setup.

But I would explore the font and unicode issues further in jupyterbook for sure.

[2020-05-25 05:18] #842 closed

[2020-05-25 05:18] #810 closed

[2020-05-25 05:18] #831 closed

[2020-05-25 05:19] jlperla commented on #671
Not worth it prior to jupyterbook conversion.

[2020-05-25 05:19] #671 closed

[2020-05-25 05:20] #639 closed

[2020-05-25 05:20] #609 closed

[2020-05-25 05:21] #427 closed

[2020-05-25 05:21] #444 closed

[2020-05-25 05:21] #446 closed

[2020-05-25 05:21] #491 closed

[2020-05-25 05:21] #676 closed

[2020-05-25 05:23] #145 closed

[2020-05-25 05:23] #150 closed

[2020-05-25 05:23] #167 closed

[2020-05-25 05:23] #227 closed

[2020-05-25 05:23] #255 closed

[2020-05-25 05:23] #266 closed

[2020-05-25 05:23] #281 closed

[2020-05-25 05:23] #287 closed

[2020-05-25 05:23] #300 closed

[2020-05-25 05:23] #827 closed

[2020-05-25 05:26] #822 closed

[2020-05-26 03:42] jstac commented on #859
+1 on splitting out a shorter continuous time MC lecture.  Topics to cover

* matrix exponentials
* Q matrices and their relationship to Markov matrices (via matrix exponential, Kolmogorov fwd and backward equations)
* exponential clock interpretation of Q matrices
* ergodicity
* applications (inventory dynamics?)

[2020-05-27 20:41] jlperla commented on #859
Hi all. It looks like I will have some childcare help in June, so maybe we can sketch some stuff out late next week? I think a lot of the markov chains+covid sde stuff could come together quickly. Then the uncertainty quantification/sciml material can be built on at the appropriate speed, since much of it would be new.

[2020-06-02 16:20] jlperla opened #862 "Document and add ModelingTookit.jl to Project (it is already in the manifest, no need to bump packages)"
We want to add in the ModelingTookit.jl to the Project and use it as a case to document the deployment and testing steps.

How do we bump versions, of what, and in what order?  What do we test, etc.

@ajozefiak  should shadow us for those steps while you walk us through it and document as we go through.

[2020-06-02 17:49] #862 closed

[2020-06-02 18:05] #843 closed

[2020-06-03 01:54] arnavs opened #864 "Go Live on v0.8.0 and tag notebook repos"
When the build finishes, in a few hours or tomorrow.

[2020-06-03 04:45] arnavs commented on #864
Closing this as Jesse is taking over.

[2020-06-03 04:45] #864 closed

[2020-06-19 20:59] jlperla commented on #859
@jstac  @thomassargent30   Sorry the the delay.  @ChrisRackauckas and I are going to power through the basic covid lecture at the beginning of next week.

I think our intention was to:
- Start by porting over a chunk of the https://python.quantecon.org/sir_model.html code to julia for the deterministic model,
- Add in maybe one more deterministic bell and whitle.  Maybe a SIER model?
- Solve ensem

[2020-06-21 12:43] jstac commented on #859
Please feel free to cut out the sections you mentioned.  Or the lecture could be expanded into two.

Aggregate shocks to the transmission rate would make for interesting dynamics but it's not so obvious what would drive them.  Events like the recent street protests?

[2020-06-21 21:44] jstac commented on #859
Here's one potentially interesting idea: "Flattening the curve" is producing more like damped oscillations in some places (Australia included).  New cases tend to zero and then spike up again.

What's driving this?  I guess it's a learning process.  The transmission rate is determined by govt policy and social behavior.  Both base their choices on some kind of reinforcement learning mechanism.  If

[2020-06-22 04:55] jlperla commented on #859
A thought on the superset of equations for this, which might nest the examples we are interested in.
![image](https://user-images.githubusercontent.com/13106721/85249427-945bbe80-b408-11ea-97f2-47d48466974b.png)

Here I have put left things unnormalized, which will be useful if we have aggregate shocks to people entering/exiting the particular geography and counting the cumulative deaths for polic

[2020-06-22 12:53] ChrisRackauckas commented on #859
An additive noise process like that will make it not have guaranteed positivity. We should probably make the noise multiplicative/proportional, which should be an easy way to impose that property.

[2020-06-22 13:53] jlperla commented on #859
So you mean like `d s(t) = beta(t) s(t) i(t)  + s(t) zeta d W(t)`  ?  If so, that is perfect and clean.  Probably more realistic as well.  I tried to work with logged `s(t)`, etc. to keep thing positive, but it got uncessarily ugly which was why I had given up.

OK, I will take another shot at the ODEs this morning for discussion.

@ChrisRackauckas   Are you aware of any simple extensions of the S

[2020-06-22 15:57] ChrisRackauckas commented on #859
Yup that's it.

There's technically an Ito correction term if you do it with an SDE, and that's... definitely not something for an introduction to the model type haha.

I don't, but maybe @sdwfrost might be able to help guide us towards the right model.

[2020-06-22 18:30] sdwfrost commented on #859
There's lots of models out there! This one includes asymptomatic and hospitalization:

[https://github.com/covid-projections/covid-data-model/blob/master/pyseir/models/seir_model.py](https://github.com/covid-projections/covid-data-model/blob/master/pyseir/models/seir_model.py)

Most of the models that consider asymptomatic, testing etc. are also age structured, which adds another layer of complexi

[2020-06-22 21:14] jlperla commented on #859
@sdwfrost  Thanks so much.  These are outstanding, and that is exactly what we were looking for to compare.  We will take a look to see if we can find a parsimonious version to demonstrate some of the tools we have in mind for economists.

[2020-06-23 20:54] jlperla opened #865 "Some minor, redundant ;; in lectures"
Search for `gr(fmt = :png);;` in the code

[2020-06-25 00:01] arnavs commented on #865
Apparently this only happened in McCall.

Did a search for `;;`.

[2020-06-25 00:01] #865 closed

[2020-06-25 22:24] arnavs opened #866 "Update Images in GitHub Lecture to New Design Language"
GitHub has changed its design language, and probably embedded a few more substantive changes (word names, location of buttons, etc.).

Need to go through this lecture at some point and update it.

[2020-06-25 22:35] jlperla commented on #866
Perfect, thanks!  Will do after things stabilize with vscode as well, and Atom is ripped out of those images as well.

[2020-07-13 13:40] jlperla opened #871 "Fix the wald_friedman lecture"
https://julia.quantecon.org/dynamic_programming/wald_friedman.html

Inconsistencies with the python version and incomplete implementation.  Check to see what the unit tests didn't catch the issue.

[2020-07-22 23:22] #819 closed

[2020-07-22 23:22] #821 closed

[2020-07-22 23:22] #849 closed

[2020-07-23 00:11] #828 closed

[2020-07-23 00:12] #860 closed

[2020-07-23 00:13] #823 closed

[2020-11-25 00:03] arnavs opened #876 "Watch out for Julia 1.5"
An error report was forwarded my way by @jstac about the Jupyter setup not working in 1.5.

Issues resolved when opening in a directory without pre-existing TOML.

Could be connected to https://github.com/JuliaLang/IJulia.jl/issues/939.

[2020-11-25 00:05] jlperla commented on #876
Ah thanks Arnav.  I will take a look soon.

[2020-12-07 14:53] jlperla commented on #876
I am going to close this unless we see a specific error report.  At this point it sounds like there are issues with OSX at particular versions unreleated to anything we have done.

Since we don't fix the IJulia version in our manifest, it is out of our hands.

[2020-12-07 14:53] #876 closed

[2021-02-14 09:34] wkeahi opened #879 "McCall exercise solution index"
Hello,

For the exercise solution for _Job Search I: The McCall Search Model_ (`mccall_model.ipynb`), I'm wondering if the index is off when generation the random wage causing the estimated means to be off. The code segment is below

[code]

Since `support(dist)` is in 0,...,50 shouldn't it be `w_val = w[rand(dist)+1]` so that it matches the indices of `w` which go from 1,...,51?

[2021-02-14 09:45] Nosferican commented on #879
From having taken a look at the notebook I believe that is correct. Thanks for reporting it!
I saw that you had made a fork of the repository. The fix should be as you described (i.e., `w_val = w[rand(dist)+1]`). Would you like to open a PR with the fix?

[2021-02-14 12:21] wkeahi commented on #879
Thanks! Opened a PR. First one, hope I did it correctly.

[2021-02-14 16:43] jlperla commented on #879
@wkeahi thanks so much! I am waiting for Julia 1.6 to be released, them am planning on updating support and merging a bunch of these sorts of changes

[2021-04-24 21:20] mk1564 opened #882 "Typo in Arellano"
Hi,

I think I found a little typo in [Arellano model](https://julia.quantecon.org/multi_agent_models/arellano.html), although the result wouldn't change much.

To calculate value when default, `defval = u(ae, ydef) + β * (θ * EVc[zero_ind, iy] + (1-θ) * EVd[1, iy])`, I think `EVc` should be `EV` to make it consistent with the theory in the text and the code in Python.

[2021-04-24 21:25] jlperla commented on #882
Thanks so much! Amazing we are in the process of converting things over to another build system and I should be able to fix some of this stuff soon

[2021-04-24 21:27] mk1564 commented on #882
Thank you. Looking forward to the new system!